include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/bags-more-hero.jpg');")  
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{category.category}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for(var x=0;x<categoryStorelength;x++)
        li
          if categoryStore[x]
            a.sclHov(href='/brand/#{categoryStore[x].URL}')
              img(src=global.config.variable.apiPath+'/#{categoryStore[x].storeBanner}', alt='img')
            .featShpInfWrp
              a.popGrdTtle(href='/brand/#{categoryStore[x].URL}') #{categoryStore[x].storeName}
              .popGrdDesc #{categoryStore[x].storeDiscription}
              // .featShpActBtn
              //   a.act_icn.icn_bokMark(href='#')
              //     i
              //   a.act_icn.icn_sharePst(href='#')
              //     i
            .featShpRate #{categoryStore[x].avgRating} 
    .txtCent.mt60
      a.defBtn.loadMore(id="loadmoreshop",name="Accessories") Load More

include common/footer