include common/head

.authInrMainInfWrap.bg-gry
  .centerAlign
    .authInrImg
      if authorBlogs[0].authorImage
        img(src=global.config.variable.apiPath+'/#{authorBlogs[0].authorImage}', alt='img')
    .authInrInfWrp
      .secTtleSml #{authorBlogs[0].authorName}
      .secDesc
        p
          | #{authorBlogs[0].autherInfo}
section.blgInrPostMainCont.secPad
  .centerAlign
    .authInrBlogPostWrap
      h2.secTtleSml
        | Most Viewed
        img.trndIcn(src='/images/icon-trending.svg', alt='img')
      .authorFeatPostWrap
        a.sclHov(href='/blogs'+'/#{authorBlogs[0].URL}')
          img(src=global.config.variable.apiPath+'/#{authorBlogs[0].blogPicture}', alt='img')
        .authFeatInfWrp.bg-gry
          a.authBlgTtle(href='/blogs'+'/#{authorBlogs[0].URL}') #{authorBlogs[0].title}
          .secDescx2
            p
              | #{authorBlogs[0].metaDescription}
      .authBlogPostList
        - for (var x = 1; x < authorBlogslength ; x++)
          .authPostItem
            a.authPostItmImg.sclHov(href='/blogs'+'/#{authorBlogs[x].URL}')
              img(src=global.config.variable.apiPath+'/#{authorBlogs[x].blogPicture}', alt='img')
            .authPostItmInf
              a.authBlgTtle(href='/blogs'+'/#{authorBlogs[x].URL}') #{authorBlogs[x].title}
              .secDesc
                p
                  | #{authorBlogs[x].metaDescription}   
    .blgInrSidebarWrap
      .blgSideLble Recommended
      .blgInrSidebarBlck
        a.sclHov.blgLstImg(href='/blogs'+'/#{recommendedBlogs[0].URL}')
          img(src=global.config.variable.apiPath+'/#{recommendedBlogs[0].blogPicture}', alt='img')
        .blgLstInfWrp
          a.blgLstTtle(href='/blogs'+'/#{recommendedBlogs[0].URL}') #{recommendedBlogs[0].title}
          .secDesc
            p
              | #{recommendedBlogs[0].metaDescription}
          .blgLstFtrWrp
            .blgLstAuthInfWrap
              img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{recommendedBlogs[0].authorImage}', alt='img')
              .blgLstAuthInf
                div #{recommendedBlogs[0].authorName}
                div #{recommendedBlogs[0].time}
      .blgInrSidebarBlck
        a.sclHov.blgLstImg(href='/blogs'+'/#{recommendedBlogs[1].URL}')
          img(src=global.config.variable.apiPath+'/#{recommendedBlogs[1].blogPicture}', alt='img')
        .blgLstInfWrp
          a.blgLstTtle(href='/blogs'+'/#{recommendedBlogs[1].URL}') #{recommendedBlogs[1].title}
          .secDesc
            p
              | #{recommendedBlogs[1].metaDescription}
          .blgLstFtrWrp
            .blgLstAuthInfWrap
              img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{recommendedBlogs[1].authorImage}', alt='img')
              .blgLstAuthInf
                div #{recommendedBlogs[1].authorName}
                div #{recommendedBlogs[1].time}
      .blgInrSidebarBlck
        a.sclHov.blgLstImg(href='/blogs'+'/#{recommendedBlogs[2].URL}')
          img(src=global.config.variable.apiPath+'/#{recommendedBlogs[2].blogPicture}', alt='img')
        .blgLstInfWrp
          a.blgLstTtle(href='/blogs'+'/#{recommendedBlogs[2].URL}') #{recommendedBlogs[2].title}
          .secDesc
            p
              | #{recommendedBlogs[2].metaDescription}
          .blgLstFtrWrp
            .blgLstAuthInfWrap
              img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{recommendedBlogs[2].authorImage}', alt='img')
              .blgLstAuthInf
                div #{recommendedBlogs[2].authorName}
                div #{recommendedBlogs[2].time}
//- .bg-gry.secPad
//-   .centerAlign
//-     .subNwsltrMainWrp
//-       .secTtle
//-         | Subscribe to the ZeepZoop 
//-         br
//-         | Newsletter
//-       form.subNwsFrmWrp
//-         input.subnwsInp(type='text', placeholder='Enter Your Email id')
//-         input.subnwsSub(type='submit', value='Subscribe')
//-     .subNwsApLinks
//-       a(href='#')
//-         img(src='/images/app-appstore.png', alt='img')
//-       a(href='#')
//-         img(src='/images/app-playstore.png', alt='img')

include common/footer
script.
  $(document).ready(function() {
    $('header').css("background-color","#b21a34")
  })