include common/head

meta(name='ROBOTS', content='NOINDEX, NOFOLLOW')

.bnrMainCont.bnrBgOlay
  .bnrBg(style="background-image: url('/images/banner-featshop.jpg');")
  .hmeMainPrlxWrp
    svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='800')
      defs
        filter#gooey
          fegaussianblur(in='SourceGraphic', stdDeviation='3', result='blur')
          fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{searchfor}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for (var x = 0; x < stores.length; x++)
        li
          a.sclHov(href='/blogs/#{stores[x].URL}')
            img(src=global.config.variable.apiPath+'/#{stores[x].blogPicture}', alt='img')
          .featShpInfWrp
            a.popGrdTtle(href='/blogs/#{stores[x].URL}') #{stores[x].title}
            .popGrdDesc #{stores[x].metaDescription}
          // .featShpRate #{stores[x].saveCount}
    .txtCent.mt60
      if lengthStores <= 0
        a.loadMore Oops! We Could not Find What You Are Searching For! Please Try Other Terms

include common/footer