include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(style="background-image: url('/images/banner-blog.jpg');")
section.secPad.bg-gry.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Newly added
    // a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<newBlogslength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{newBlogs[x].URL}')
                img(src=global.config.variable.apiPath+'/#{newBlogs[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{newBlogs[x].URL}') #{newBlogs[x].title}
                .secDesc
                  p
                    | #{newBlogs[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{newBlogs[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{newBlogs[x].authorName}
                      div #{newBlogs[x].time}
                  //- .blgLstActionBtns
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_likeThmb(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i          
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle TRENDING
    //- a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<trendingBlogslength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{trendingBlogs[x].URL}')
                img(src=global.config.variable.apiPath+'/#{trendingBlogs[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{trendingBlogs[x].URL}') #{trendingBlogs[x].title}
                .secDesc
                  p
                    | #{trendingBlogs[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{trendingBlogs[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{trendingBlogs[x].authorName}
                      div #{trendingBlogs[x].time}
      .swiper-button-prev
      .swiper-button-next
section.secPad.bg-gry.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Brand Stories
    //- a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<brandStorieslength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{brandStories[x].URL}')
                img(src=global.config.variable.apiPath+'/#{brandStories[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{brandStories[x].URL}') #{brandStories[x].title}
                .secDesc
                  p
                    | #{brandStories[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{brandStories[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{brandStories[x].authorName}
                      div #{brandStories[x].time}
                  // .blgLstActionBtns
                  //   a.act_icn.icn_bokMark(href='#')
                  //     i
                  //   a.act_icn.icn_likeThmb(href='#')
                  //     i
                  //   a.act_icn.icn_sharePst(href='#')
                  //     i
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Fashion
    // a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<fashionlength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{fashion[x].URL}')
                img(src=global.config.variable.apiPath+'/#{fashion[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{fashion[x].URL}') #{fashion[x].title}
                .secDesc
                  p
                    | #{fashion[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{fashion[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{fashion[x].authorName}
                      div #{fashion[x].time}
                  //- .blgLstActionBtns
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_likeThmb(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i
      .swiper-button-prev
      .swiper-button-next
section.secPad.bg-gry.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Around The World
    //- a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<AroundTheWorldlength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{AroundTheWorld[x].URL}')
                img(src=global.config.variable.apiPath+'/#{AroundTheWorld[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{AroundTheWorld[x].URL}') #{AroundTheWorld[x].title}
                .secDesc
                  p
                    | #{AroundTheWorld[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{AroundTheWorld[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{AroundTheWorld[x].authorName}
                      div #{AroundTheWorld[x].time}
                  // .blgLstActionBtns
                  //   a.act_icn.icn_bokMark(href='#')
                  //     i
                  //   a.act_icn.icn_likeThmb(href='#')
                  //     i
                  //   a.act_icn.icn_sharePst(href='#')
                  //     i          
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Home Decor
    // a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<HomeDecorlength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{HomeDecor[x].URL}')
                img(src=global.config.variable.apiPath+'/#{HomeDecor[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{HomeDecor[x].URL}') #{HomeDecor[x].title}
                .secDesc
                  p
                    | #{HomeDecor[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{HomeDecor[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{HomeDecor[x].authorName}
                      div #{HomeDecor[x].time}
                  //- .blgLstActionBtns
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_likeThmb(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Wedding
    //- a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<WeddingBellslength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{WeddingBells[x].URL}')
                img(src=global.config.variable.apiPath+'/#{WeddingBells[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{WeddingBells[x].URL}') #{WeddingBells[x].title}
                .secDesc
                  p
                    | #{WeddingBells[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{WeddingBells[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{WeddingBells[x].authorName}
                      div #{WeddingBells[x].time}
                  // .blgLstActionBtns
                  //   a.act_icn.icn_bokMark(href='#')
                  //     i
                  //   a.act_icn.icn_likeThmb(href='#')
                  //     i
                  //   a.act_icn.icn_sharePst(href='#')
                  //     i
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Culture &amp; Heritage
    // a.seAlLink(href='#') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<CultureHeritagelength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{CultureHeritage[x].URL}')
                img(src=global.config.variable.apiPath+'/#{CultureHeritage[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{CultureHeritage[x].URL}') #{CultureHeritage[x].title}
                .secDesc
                  p
                    | #{CultureHeritage[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{CultureHeritage[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{CultureHeritage[x].authorName}
                      div #{CultureHeritage[x].time}
                  //- .blgLstActionBtns
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_likeThmb(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Ceo's Diary
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for(var x=0;x<CeoBloglength;x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/blogs'+'/#{CeoBlog[x].URL}')
                img(src=global.config.variable.apiPath+'/#{CeoBlog[x].blogPicture}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle(href='/blogs'+'/#{CeoBlog[x].URL}') #{CeoBlog[x].title}
                .secDesc
                  p
                    | #{CeoBlog[x].metaDescription}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{CeoBlog[x].authorImage}', alt='img')
                    .blgLstAuthInf
                      div #{CeoBlog[x].authorName}
                      div #{CeoBlog[x].time}
                  //- .blgLstActionBtns
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_likeThmb(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i
      .swiper-button-prev
      .swiper-button-next

include common/footer

script.
    $('.blogCarouselWrap').each(function() {
    var $swipCont = $(this),
    $swipNxt = $swipCont.parent().children('.swiper-button-next'),
    $swipPrv = $swipCont.parent().children('.swiper-button-prev');
    var swip = new Swiper($swipCont, {
    slidesPerView: 3,
    loop: true,
    spaceBetween: 30,
    slidesPerGroup: 1,
    navigation: {
    nextEl: $swipNxt,
    prevEl: $swipPrv
    },
    breakpoints: {
    600: {
    slidesPerView: 1,
    spaceBetween: 0
    },
    768: {
    slidesPerView: 2,
    spaceBetween: 10
    },
    1000: {
    slidesPerView: 2,
    spaceBetween: 15
    },
    1250: {
    spaceBetween: 30
    }
    }
    });
    })