
include common/head
.blogs
  .container
    h1 Blogs
    .items
      - for (var x = 0; x < length ; x++)
        a(href='http://localhost:3001/blogs/'+titleURL[x])
          .img
            img(src= global.config.variable.apiPath+'/#{blogs[x].blogPicture}')
          .info
            h3 #{blogs[x].title}
            p
              | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
              | .
          .author
            .img
              img(src=global.config.variable.apiPath+'/#{blogs[x].authorImage}')
            .profile
              span #{blogs[x].authorName}
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
      //- article
      //-   .img
      //-     img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
      //-   .info
      //-     h3 Beauty of Clay, Tingle of Bells
      //-     p
      //-       | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
      //-       | .
      //-   .author
      //-     .img
      //-       img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
      //-     .profile
      //-       span Shubharambh
    a.btn Load more
include common/footer
  