include common/head
link(rel='canonical', href='https://www.zeepzoop.com/blogs')

.wrapper
  section.innerpage-hero
    img(src='images/blog-hero-img.jpg')
  |   
  .mid-scn-main
    section.trendding-scn
      .fix-wrap
        h2 TRENDING
        |         
        .owl-carousel.trenddingSlider
          - for(var x=0;x<trendingBlogslength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{trendingBlogs[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{trendingBlogs[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{trendingBlogs[x].URL}') #{trendingBlogs[x].title}
                  |                 
                  p
                    | #{trendingBlogs[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{trendingBlogs[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{trendingBlogs[x].authorName}
                        br
                        |                       #{trendingBlogs[x].time}
                    |                   
            |           
    section.lightgrey-bg.newlyadded-scn
      .fix-wrap
        h2 NEWLY ADDED
        |         
        .owl-carousel.newlyAddedSlider
          - for(var x=0;x<newBlogslength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{newBlogs[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{newBlogs[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{newBlogs[x].URL}') #{newBlogs[x].title}
                  |                 
                  p
                    | #{newBlogs[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{newBlogs[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{newBlogs[x].authorName}
                        br
                        |                       #{newBlogs[x].time}
                    |                   
            |       
    section.trendding-scn
      .fix-wrap
        h2 BRAND STORIES
        |         
        .owl-carousel.BrandStorysSlider
          - for(var x=0;x<brandStorieslength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{brandStories[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{brandStories[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{brandStories[x].URL}') #{brandStories[x].title}
                  |                 
                  p
                    | #{brandStories[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{brandStories[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{brandStories[x].authorName}
                        br
                        |                       #{brandStories[x].time}
                    |                   
            |           
    section.lightgrey-bg.fashionhacks-scn
      .fix-wrap
        h2 FASHION
        |         
        .owl-carousel.fashionhacksSlider
            - for(var x=0;x<fashionlength;x++)
              .item
                .blogslide-item
                  a(href='http://www.zeepzoop.com/blogs'+'/#{fashion[x].URL}')
                    img(src=global.config.variable.apiPath+'/#{fashion[x].blogPicture}', alt='')
                  |               
                  .blogslide-cont
                    h3
                      a(href='http://www.zeepzoop.com/blogs'+'/#{fashion[x].URL}') #{fashion[x].title}
                    |                 
                    p
                      | #{fashion[x].metaDescription}
                    |                 
                    .blog-user-share
                      .pull-left
                        span.blog-usepic
                          img(src=global.config.variable.apiPath+'/#{fashion[x].authorImage}', alt='',style="height: 52px;")
                        |                     
                        .blog-name-date
                          | #{fashion[x].authorName}
                          br
                          |                       #{fashion[x].time}
                      |                   
    |     
    section.aroundworld-scn
      .fix-wrap
        h2 AROUND THE WORLD
        |         
        .owl-carousel.aroundworldSlider
          - for(var x=0;x<AroundTheWorldlength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{AroundTheWorld[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{AroundTheWorld[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{AroundTheWorld[x].URL}') #{AroundTheWorld[x].title}
                  |                 
                  p
                    | #{AroundTheWorld[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{AroundTheWorld[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{AroundTheWorld[x].authorName}
                        br
                        |                       #{AroundTheWorld[x].time}
                    |                   
            |           
    section.lightgrey-bg.aroundworld-scn
      .fix-wrap
        h2 HOME DECOR
        |         
        .owl-carousel.homedecorSlider
          - for(var x=0;x<HomeDecorlength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{HomeDecor[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{HomeDecor[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{HomeDecor[x].URL}') #{HomeDecor[x].title}
                  |                 
                  p
                    | #{HomeDecor[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{HomeDecor[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{HomeDecor[x].authorName}
                        br
                        |                       #{HomeDecor[x].time}
                    |                   
            |           
         
    |     
    section.weddingbells-scn
      .fix-wrap
        h2 WEDDING
        |         
        .owl-carousel.weddingbellsSlider
          - for(var x=0;x<WeddingBellslength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{WeddingBells[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{WeddingBells[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{WeddingBells[x].URL}') #{WeddingBells[x].title}
                  |                 
                  p
                    | #{WeddingBells[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{WeddingBells[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{WeddingBells[x].authorName}
                        br
                        |                       #{WeddingBells[x].time}
                    |                   
    |     
    section.lightgrey-bg.culture-heritage-scn
      .fix-wrap
        h2 CULTURE &amp; HERITAGE
        |         
        .owl-carousel.cultureheritageSlider
           - for(var x=0;x<CultureHeritagelength;x++)
            .item
              .blogslide-item
                a(href='http://www.zeepzoop.com/blogs'+'/#{CultureHeritage[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{CultureHeritage[x].blogPicture}', alt='')
                |               
                .blogslide-cont
                  h3
                    a(href='http://www.zeepzoop.com/blogs'+'/#{CultureHeritage[x].URL}') #{CultureHeritage[x].title}
                  |                 
                  p
                    | #{CultureHeritage[x].metaDescription}
                  |                 
                  .blog-user-share
                    .pull-left
                      span.blog-usepic
                        img(src=global.config.variable.apiPath+'/#{CultureHeritage[x].authorImage}', alt='',style="height: 52px;")
                      |                     
                      .blog-name-date
                        | #{CultureHeritage[x].authorName}
                        br
                        |                       #{CultureHeritage[x].time}
                    |                   
            |           
  |   
include common/footer
script.
  document.body.classList.add("body-blog");
|  
script.
  $(document).ready(function(){
  $('.shops-slt').click(function(e) {
  $(this).toggleClass('shopsSlt-current')
  });
  $('.trenddingSlider').owlCarousel({
  loop:true,
  margin:15,
  responsiveClass:true,
  dots: false,
  nav:true,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.newlyAddedSlider').owlCarousel({
  loop:true,
  margin:15,
  responsiveClass:true,
  nav:true,
  dots: false,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.BrandStorysSlider').owlCarousel({
  loop:true,
  margin:15,
  responsiveClass:true,
  nav:true,
  dots: false,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.fashionhacksSlider').owlCarousel({
  loop:true,
  margin:15,
  nav:true,
  responsiveClass:true,
  dots: false,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.aroundworldSlider').owlCarousel({
  loop:true,
  margin:15,
  nav:true,
  responsiveClass:true,
  dots: false,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.homedecorSlider').owlCarousel({
  loop:true,
  margin:15,
  nav:true,
  responsiveClass:true,
  dots: false,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.weddingbellsSlider').owlCarousel({
  loop:true,
  margin:15,
  nav:true,
  responsiveClass:true,
  dots: false,
  nav:true,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  $('.cultureheritageSlider').owlCarousel({
  loop:true,
  margin:15,
  nav:true,
  responsiveClass:true,
  dots: false,
  nav:true,
  responsive:{
  0:{
  items:1,
  },
  600:{
  items:2,
  },
  1000:{
  items:3,
  }
  }
  })
  });
