include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/Clothing.jpg');")  
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{category.category}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for(var x=0;x<categoryStorelength;x++)
        li
          if categoryStore[x]
            a.sclHov(href='/brand/#{categoryStore[x].URL}')
              img(src=global.config.variable.apiPath+'/#{categoryStore[x].storeBanner}', alt='img')
            .featShpInfWrp
              a.popGrdTtle(href='/brand/#{categoryStore[x].URL}') #{categoryStore[x].storeName}
              .popGrdDesc #{categoryStore[x].storeDiscription}
            // .featShpActBtn
            //   a.act_icn.icn_bokMark(href='#')
            //     i
            //   a.act_icn.icn_sharePst(href='#')
            //     i
            .featShpRate #{categoryStore[x].avgRating}
    .txtCent.mt60
      a.defBtn.loadMore(id="loadmoreshop",name="Clothing") Load More

include common/footer
.centerAlign
  p.hmcntnt
    | ZeepZoop is your one-stop, exhaustive fashion shopping guide for luxury clothing brands. With ZeepZoop as your ultimate fashion guide, you do not
    | need to rely on anything or anyone else to keep up with a fancy and kept lifestyle. You will find the biggest, trendiest and most celebrated
    | luxury clothing brands here at your fingertips.
  p.hmcntnt
    | Whether it is a workplace event, a party with friends, a romantic dinner or Sunday brunch, we have got you covered for all. Our designer 
    | clothing will bring about a transcendental element in any person’s wardrobe.
  p.hmcntnt
    | Sift through our stunning range of occidental and oriental wear for your next event. Browse through shift dresses, body-hugging dresses, bridal 
    | gowns with floral designs, color block tops and elegant lace styles. Embrace modern wearables with our fashion guide to create a voguish 
    | silhouette. Make a statement with urban stitched, floral prints, elaborate and minimalistic dresses, tops and bottoms to choose from.
  p.hmcntnt
    | From contemporary, ethnic attire to ultra-modern fashion, we have gotten you a plethora of collection to choose from, we do not want to lag 
    | behind in the race to become the best fashion discovery platform.
  p.hmcntnt
    | With this fashion discovery app you can discover the masterpieces from the classiest Indian fashion brands like Noopur Balia Barot, Ekaya, 
    | Nautanky, Ray Ethnic, Siyaahi, Vasansi Jaipur, MSAFIRI, KZARI by Karishma Hingorani, No Nasties, Sabyasaachi, Asolopalav, Kessa, Sattva, Sachi, 
    | Sublimme Culture, and many many more to choose from.
  p.hmcntnt
    | When it comes to fashion you can blindly trust on us, let ZeepZoop be your fashion style guide. It is our heartfelt promise that our shopping 
    | guide for clothing will surely help you be ahead of the curve when it comes to fashion. With your bling, glitz and glamour you will surely make 
    | many heads turn.