include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(style='background-image: url('+global.config.variable.apiPath+'/#{collectiondata.collectionPicture}'+')')
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{collectiondata.collectionName}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for (var x = 0; x < collectionOnStore.length; x++)
        if collectionOnStore[x].isActive==true
          li
            a.sclHov(href='/brand/#{collectionOnStore[x].URL}')
              img(src=global.config.variable.apiPath+'/#{collectionOnStore[x].storeBanner}', alt='img')
            .featShpInfWrp
              a.popGrdTtle(href='/brand/#{collectionOnStore[x].URL}') #{collectionOnStore[x].storeName}
              .popGrdDesc #{collectionOnStore[x].storeDiscription}
              // .featShpActBtn
              //   a.act_icn.icn_bokMark(href='#')
              //     i
              //   a.act_icn.icn_sharePst(href='#')
              //     i
            .featShpRate #{collectionOnStore[x].avgRating}
    // .txtCent.mt60
    //   a.defBtn.loadMore(href='#') Load More


include common/footer
