include common/head
  
.blog
  .container
    article
      h1 #{blog.title}
      .blog-img
        img(src=global.config.variable.apiPath+'#{blog.blogPicture}')
      .content.ql-editor
        !{blog.description}
    .author
      p 
      .img
        img(src=global.config.variable.apiPath+'#{blog.authorImage}')
      .profile
        span #{blog.authorName}
include common/footer