include common/head
  
.blog
  .container
    article
      h1 #{blog.title}
      .blog-img
        img(src=global.config.variable.apiPath+'/'+'#{blog.blogPicture}')
      .content.ql-editor
        !{blog.description}
    .author
      p 
      .img
        img(src=global.config.variable.apiPath+'/'+'#{blog.authorImage}')
      .profile
        span #{blog.authorName}
       .social-media
                a(href="https://www.facebook.com/sharer/sharer.php?u="+shareUrl)
                  svg#Layer_1(enable-background='new 0 0 100 100', height='50px', version='1.1', viewbox='0 0 100 100', width='50px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g
                      circle(cx='50', cy='50', fill='#43619B', r='45')
                      path(clip-rule='evenodd', d='M58.38,31.763c0,2.092,0,4.143,0,6.247c-0.484,0-0.953,0-1.423,0   c-0.868,0-1.735-0.005-2.602,0.001c-0.955,0.008-1.586,0.505-1.629,1.441c-0.061,1.351-0.015,2.705-0.015,4.108   c1.928,0,3.834,0,5.778,0c-0.225,2.178-0.442,4.3-0.664,6.466c-1.717,0-3.403,0-5.127,0c0,6.107,0,12.166,0,18.254   c-2.546,0-5.051,0-7.605,0c0-6.083,0-12.144,0-18.248c-1.216,0-2.386,0-3.584,0c0-2.161,0-4.279,0-6.457c1.179,0,2.356,0,3.586,0   c0-0.221-0.001-0.383,0.001-0.546c0.015-1.51-0.054-3.025,0.064-4.526c0.192-2.448,1.166-4.502,3.381-5.794   c1.138-0.665,2.394-0.948,3.69-0.971c1.984-0.037,3.97-0.004,5.953,0C58.24,31.738,58.293,31.751,58.38,31.763z', fill='#FFFFFF', fill-rule='evenodd')
                a(href="https://plus.google.com/share?url="+shareUrl)
                  svg#Layer_1(enable-background='new 0 0 100 100', height='50px', version='1.1', viewbox='0 0 100 100', width='50px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g
                      circle(cx='50', cy='50', fill='#EE4134', r='45')
                      g
                      path(d='M40.779,46.814v6.371c0,0,6.169-0.008,8.682-0.008c-1.36,4.129-3.476,6.378-8.682,6.378    c-5.268,0-9.38-4.278-9.38-9.556c0-5.276,4.112-9.555,9.38-9.555c2.786,0,4.584,0.98,6.234,2.347    c1.32-1.323,1.21-1.512,4.571-4.691c-2.854-2.601-6.644-4.186-10.806-4.186c-8.868,0-16.057,7.202-16.057,16.084    c0,8.884,7.188,16.085,16.057,16.085c13.256,0,16.495-11.562,15.421-19.271H40.779z', fill='#FFFFFF')
                      polygon(fill='#FFFFFF', points='69.714,47.133 69.714,41.559 65.739,41.559 65.739,47.133 60.017,47.133 60.017,51.114     65.739,51.114 65.739,56.848 69.714,56.848 69.714,51.114 75.277,51.114 75.277,47.133   ')
                a(href="http://twitter.com/share?url="+shareUrl+"&amp;hashtags=ZeepZoop")
                  svg#Layer_1(enable-background='new 0 0 100 100', height='50px', version='1.1', viewbox='0 0 100 100', width='50px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                      g
                        circle(cx='50', cy='50', fill='#2EA6DE', r='45')
                        path#Twitter_1_(d='M68.771,34.057c-1.577,0.957-3.318,1.652-5.18,2.025c-1.483-1.625-3.604-2.638-5.949-2.638   c-4.499,0-8.149,3.744-8.149,8.358c0,0.656,0.07,1.292,0.211,1.904c-6.775-0.349-12.781-3.673-16.804-8.737   c-0.702,1.239-1.104,2.676-1.104,4.207c0,2.899,1.439,5.458,3.627,6.958c-1.334-0.041-2.594-0.42-3.694-1.042v0.103   c0,4.051,2.811,7.43,6.542,8.196c-0.684,0.195-1.404,0.293-2.148,0.293c-0.524,0-1.038-0.05-1.534-0.148   c1.037,3.32,4.046,5.738,7.614,5.803c-2.79,2.243-6.307,3.58-10.124,3.58c-0.658,0-1.309-0.039-1.944-0.115   c3.607,2.368,7.894,3.752,12.495,3.752c14.996,0,23.193-12.734,23.193-23.781c0-0.363-0.007-0.728-0.021-1.083   c1.593-1.179,2.976-2.649,4.064-4.326c-1.46,0.664-3.031,1.114-4.681,1.314C66.869,37.646,68.161,36.008,68.771,34.057z', fill='#FFFFFF')
                a(href="http://www.linkedin.com/shareArticle?url="+shareUrl)
                  svg#Layer_1(enable-background='new 0 0 100 100', height='50px', version='1.1', viewbox='0 0 100 100', width='50px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g
                      circle(cx='50', cy='50', fill='#197FB7', r='45')
                      g#LinkedIn_1_
                      rect(fill='#FFFFFF', height='24.361', width='7.69', x='31.271', y='43.569')
                      path(d='M59.968,43.334c-4.406,0-7.165,2.387-7.677,4.058v-3.823h-8.636c0.109,2.03,0,24.361,0,24.361h8.636    V54.748c0-0.733-0.034-1.465,0.19-1.991c0.594-1.464,1.869-2.985,4.162-2.985c2.998,0,4.361,2.253,4.361,5.552V67.93h8.721V54.384    C69.726,46.839,65.432,43.334,59.968,43.334z', fill='#FFFFFF')
                      path(d='M34.973,32.069c-2.839,0-4.696,1.823-4.696,4.229c0,2.361,1.804,4.224,4.589,4.224h0.054    c2.891,0,4.69-1.869,4.69-4.229C39.555,33.888,37.81,32.069,34.973,32.069z', fill='#FFFFFF')
                a(href="whatsapp://send?text="+shareUrl target="_blank" data-action="share/whatsapp/share")
                  svg#Layer_1(enable-background='new 0 0 100 100', height='50px', version='1.1', viewbox='0 0 100 100', width='50px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g
                      circle(cx='50', cy='50', fill='#00A500', r='45')
                      g
                      path(d='M50.006,30.274h-0.012v0c-10.875,0-19.721,8.849-19.721,19.726c0,4.314,1.392,8.315,3.756,11.562    l-2.458,7.329l7.583-2.423c3.118,2.064,6.84,3.259,10.852,3.259c10.874,0,19.72-8.849,19.72-19.726    C69.726,39.123,60.88,30.274,50.006,30.274z M61.483,58.129c-0.476,1.345-2.365,2.459-3.873,2.784    c-1.03,0.219-2.377,0.394-6.909-1.485c-5.797-2.401-9.529-8.292-9.82-8.675c-0.277-0.382-2.341-3.119-2.341-5.949    c0-2.83,1.437-4.209,2.017-4.801c0.476-0.487,1.264-0.707,2.018-0.707c0.243,0,0.464,0.011,0.66,0.022    c0.58,0.024,0.87,0.059,1.253,0.975c0.476,1.148,1.634,3.977,1.772,4.267c0.141,0.291,0.279,0.684,0.083,1.067    c-0.188,0.395-0.349,0.569-0.639,0.905c-0.29,0.337-0.568,0.592-0.858,0.951c-0.267,0.312-0.566,0.65-0.231,1.229    c0.336,0.568,1.496,2.458,3.2,3.977c2.203,1.96,3.988,2.586,4.625,2.853c0.476,0.197,1.044,0.151,1.392-0.22    c0.441-0.476,0.985-1.264,1.543-2.041c0.394-0.557,0.892-0.627,1.414-0.43c0.533,0.185,3.35,1.577,3.93,1.867    c0.579,0.29,0.962,0.429,1.102,0.673C61.959,55.636,61.959,56.784,61.483,58.129z', fill='#FFFFFF')
include common/footer