include common/head
link(rel='canonical', href='https://www.zeepzoop.com/blogs/#{blog.URL}')

#authorPopup.zeep-popup-main.autherpopup
  span.zeeppopup-close.auther-p-close
  |         
  img(src="/images/auther-popup-img.png", alt="")
  |         
  .auther-info
    .auther-pic
      img(src=global.config.variable.apiPath+'/'+'#{blog.authorImage}', alt="")
    |             
    span.auther-p-name #{blog.authorName}
    |             
    p
      | #{blog.autherInfo}
    |             
    //- .auther-social
    if blog.authorURL !==undefined
      a.load-more(href='/blogs/auther/'+ '#{blog.authorURL}', style="cursor: pointer;") Read More
        |                 
        //- a.tw-icon(href="#")
        //- |                 
        //- a.lnk-icon(href="#")
.wrapper
  section.innerpage-hero.blogdtl-bnr
    img(src=global.config.variable.apiPath+'/'+'#{blog.blogPicture}', alt="")
    |             
    .fix-wrap
      .blogdtl-inner
        .blogdtl-title #{blog.title}
        |                     
        #autherBtn.pull-left.blogpostuser
          span.blog-usepic(style="width:50px;height:50px;")
            img(src=global.config.variable.apiPath+'/'+'#{blog.authorImage}',style="height: 50px;", alt="")
          |                         
          .blog-name-date
            | #{blog.authorName}
            br
            |  #{blog.time}
  |         
  .mid-scn-main
    section.blog-post-scn
      .blogpost-social
        a.fb-icon(href="https://www.facebook.com/sharer/sharer.php?u="+shareUrl,target="_blank")
        |                     
        a.wt-icon(href="https://web.whatsapp.com/send?text="+shareUrl, target="_blank" data-action="share/whatsapp/share")
        |                     
        //- a.pnt-icon(href="#")
        a.pnt-icon(href="http://pinterest.com/pin/create/button/?url="+shareUrl, class="pin-it-button",target="_blank", count-layout="horizontal")
        |                     
        a.tw-icon(href="http://twitter.com/share?url="+shareUrl+"&amp;hashtags=ZeepZoop",target="_blank")
        |                     
        a.eml-icon(href="https://mail.google.com/mail/u/?authuser=connect@zeepzoop.com",target="_blank")
      |                 
      .fix-wrap
        .blog-post-cont
          !{blog.description}

        |                     
        .blog-post-rcmnd
          h4 Recommended
          |                         
          - for(var x=1;x<catBlogLength;x++)
            .blogslide-item
              a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[x].URL}")
                img(src=global.config.variable.apiPath+'/'+'#{catBlog[x].blogPicture}', alt="")
              |                             
              .blogslide-cont
                h3
                  a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[x].URL}") #{catBlog[x].title}
                |                                 
                p
                  | #{catBlog[x].metaDescription}
                |                                 
                .blog-user-share
                  .pull-left
                    span.blog-usepic
                      img(src=global.config.variable.apiPath+'/'+'#{catBlog[x].authorImage}', alt="")
                    |                                         
                    .blog-name-date
                      | #{catBlog[x].authorName}
                      br
                      |  #{catBlog[x].time}
                  |                                     
                  //- .bookmarkshare-link
                  //-   a(href="#")
                  //-     img(src="/images/bookmark-icon.png", alt="")
                  //-   |  
                  //-   a(href="#")
                  //-     img(src="/images/thumb-icon.png", alt="")
                  //-   |  
                  //-   a(href="#")
                  //-     img(src="/images/share-icon.png", alt="")
            |                         
          //- .blogslide-item
          //-   a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[2].URL}")
          //-     img(src=global.config.variable.apiPath+'/'+'#{catBlog[2].blogPicture}', alt="")
          //-   |                             
          //-   .blogslide-cont
          //-     h3
          //-       a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[2].URL}") #{catBlog[2].title}
          //-     |                                 
          //-     p
          //-       | #{catBlog[2].metaDescription}
          //-     |                                 
          //-     .blog-user-share
          //-       .pull-left
          //-         span.blog-usepic
          //-           img(src=global.config.variable.apiPath+'/'+'#{catBlog[2].authorImage}', alt="")
          //-         |                                         
          //-         .blog-name-date
          //-           | #{catBlog[2].authorName}
          //-           br
          //-           |  #{catBlog[2].time}
          //-       |                                     
          //-       //- .bookmarkshare-link
          //-       //-   a(href="#")
          //-       //-     img(src="/images/bookmark-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/thumb-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/share-icon.png", alt="")
          //- |                         
          //- .blogslide-item
          //-   a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[3].URL}")
          //-     img(src=global.config.variable.apiPath+'/'+'#{catBlog[3].blogPicture}', alt="")
          //-   |                             
          //-   .blogslide-cont
          //-     h3
          //-       a(href="http://www.zeepzoop.com/blogs"+"/#{catBlog[3].URL}") #{catBlog[3].title}
          //-     |                                 
          //-     p
          //-       | #{catBlog[3].metaDescription}
          //-     |                                 
          //-     .blog-user-share
          //-       .pull-left
          //-         span.blog-usepic
          //-           img(src=global.config.variable.apiPath+'/'+'#{catBlog[3].authorImage}', alt="")
          //-         |                                         
          //-         .blog-name-date
          //-           | #{catBlog[3].authorName}
          //-           br
          //-           |  #{catBlog[3].time}
          //-       |                                     
                //- .bookmarkshare-link
                //-   a(href="#")
                //-     img(src="/images/bookmark-icon.png", alt="")
                //-   |  
                //-   a(href="#")
                //-     img(src="/images/thumb-icon.png", alt="")
                //-   |  
                //-   a(href="#")
                //-     img(src="/images/share-icon.png", alt="")
          //- .blogslide-item
          //-   a(href="http://www.zeepzoop.com/blogs'+'/#{catBlog[4].URL}")
          //-     img(src=global.config.variable.apiPath+'/'+'#{catBlog[4].blogPicture}', alt="")
          //-   |                             
          //-   .blogslide-cont
          //-     h3
          //-       a(href="http://www.zeepzoop.com/blogs'+'/#{catBlog[4].URL}") #{catBlog[4].title}
          //-     |                                 
          //-     p
          //-       | #{catBlog[4].metaDescription}
          //-     |                                 
          //-     .blog-user-share
          //-       .pull-left
          //-         span.blog-usepic
          //-           img(src=global.config.variable.apiPath+'/'+'#{catBlog[4].authorImage}', alt="")
          //-         |                                         
          //-         .blog-name-date
          //-           | #{catBlog[4].authorName}
          //-           br
          //-           |  #{catBlog[4].time}
          //-       |                                     
          //-       //- .bookmarkshare-link
          //-       //-   a(href="#")
          //-       //-     img(src="/images/bookmark-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/thumb-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/share-icon.png", alt="")
          //- .blogslide-item
          //-   a(href="http://www.zeepzoop.com/blogs'+'/#{catBlog[5].URL}")
          //-     img(src=global.config.variable.apiPath+'/'+'#{catBlog[5].blogPicture}', alt="")
          //-   |                             
          //-   .blogslide-cont
          //-     h3
          //-       a(href="http://www.zeepzoop.com/blogs'+'/#{catBlog[5].URL}") #{catBlog[5].title}
          //-     |                                 
          //-     p
          //-       | #{catBlog[5].metaDescription}
          //-     |                                 
          //-     .blog-user-share
          //-       .pull-left
          //-         span.blog-usepic
          //-           img(src=global.config.variable.apiPath+'/'+'#{catBlog[5].authorImage}', alt="")
          //-         |                                         
          //-         .blog-name-date
          //-           | #{catBlog[5].authorName}
          //-           br
          //-           |  #{catBlog[5].time}
          //-       |                                     
          //-       //- .bookmarkshare-link
          //-       //-   a(href="#")
          //-       //-     img(src="/images/bookmark-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/thumb-icon.png", alt="")
          //-       //-   |  
          //-       //-   a(href="#")
          //-       //-     img(src="/images/share-icon.png", alt="")
    |             
    //- section.blog-newsletter
    //-   .fix-wrap
    //-     .blognewletter-prt
    //-       form.form-newsletter
    //-         label
    //-           | Subscribe to the ZeepZoop
    //-           br
    //-           | Newsletter
    //-         |                             
    //-         .newsletter-group
    //-           input(name="", placeholder="Enter Your Email id", type="text")
    //-           |                                 
    //-           button.cmn-btn.subscribe-btn(type="submit") Subscribe
    //-     |                     
    //-     .blog-app-prt
    //-       .playstore
    //-         a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8',target="_blank")
    //-           img(src="/images/app-store-icon.png", alt="")
    //-         |  
    //-         a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user',target="_blank")
    //-           img(src="/images/googleplay-icon.png", alt="")
  |         
|       
include common/footer
script.
  document.body.classList.add("body-blog");
|      
script.
  $(document).ready(function(e) {
  $('.blog-post-cont h2').css("font-size","35px");
  $('.blog-post-cont a').attr("rel", "nofollow");  
  $('.blog-post-cont a').css("font-size","20px");
  $('.blog-post-cont a').css("color","blue")
  $('#loginsinup').click(function(e) {
  $('#signinpopup').show();
  $('body').addClass('zeeppopup-body');
  });
  $('#autherBtn').click(function(e) {
  $('#authorPopup').show();
  $('body').addClass('zeeppopup-body');
  });
  $('.zeeppopup-close').click(function(e) {
  $('#signinpopup, #authorPopup').hide();
  $('body').removeClass('zeeppopup-body');
  });
  });
