include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/Home-Decor.jpg');")  
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{category.category}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for(var x=0;x<categoryStorelength;x++)
        li
          if categoryStore[x]
            a.sclHov(href='/brand/#{categoryStore[x].URL}')
              img(src=global.config.variable.apiPath+'/#{categoryStore[x].storeBanner}', alt='img')
            .featShpInfWrp
              a.popGrdTtle(href='/brand/#{categoryStore[x].URL}') #{categoryStore[x].storeName}
              .popGrdDesc #{categoryStore[x].storeDiscription}
              // .featShpActBtn
              //   a.act_icn.icn_bokMark(href='#')
              //     i
              //   a.act_icn.icn_sharePst(href='#')
              //     i
            .featShpRate #{categoryStore[x].avgRating}
    .txtCent.mt60
      a.defBtn.loadMore(id="loadmoreshop",name="Home-Decor") Load More

.centerAlign
  h1 Home Decor Guide
  p.hmcntnt
    | Home is where the heart is, your home should reflect your personality like a melody, if not speak volumes and our home decor style guide will 
    | help you do just that. It is only natural for a person to extend themselves onto other things, to make things a part of themselves, so 
    | instinctively there is a desire for people to decorate and design their homes. Our 
    span
     a(href="/") shopping guide 
    | for home decor understands the need to satiate 
    | that desire. 

  p.hmcntnt
    | With our online 
    span
     a(href="/") shopping guide 
    | for home decor, you get a one-stop solution for all your home decor needs. We have catalogued the best Home Decor 
    | and Design Studios at ZeepZoop for you to look at, scroll and select contemporary home accessories from.

  p.hmcntnt
    | You can be marinating in the comfort of your home, select from a wide array of contemporary home accessories to give your home a rustic and 
    | elegant look. Here is a list of home decor items you can find in our home decor guide:
    | Wall shelves
    | Wall clocks
    | Mirrors
    | Vases
    | Screens and Dividers
    | Natural Plants
    | Indoor Fountains
    | Decorative Pebbles
    | Pots
    | Planters
    | Coffee Tables
    | Room Fragrances
    | Stationery
    | Magazine Racks
    | Jharokhas
    | Decorative Trays
    | Artificial Plants
    | Garden Decor

  p.hmcntnt
    | We also have a unique collection of exclusive articles that you will not find elsewhere. Check out 
    | Tanjore Paintings
    | Hand-woven Rugs 
    | Antique Furniture
    | Customized Lightings
    | Artworks
    | Cutlery
    | Hand Woven Merchandises
    
  p.hmcntnt
    | With our home decor 
    span
     a(href="/") shopping guide, 
    | you can tend your home carefully into a harmonious space when you can get the right amount of stimulus and 
    | also find solace in.
    
include common/footer