include common/head

.wrapper      
  section.banner-scn-main(style='background-image:url(images/home-bnr-hero.jpg)')
    .fix-wrap
      .discovermost-bnr
        | Discover Most
        br
        |  Amazing and Unique Brands
      .search-shops-lcn
        .in-shopse
          span.inshops-eshops In-Shops
          .shops-slt
            span.shops-sltbtn
          span.inshops-eshops.eshops-txt E-Shops
        .location-slt
          select(name='cities')
            option(selected='') Select City
              - for (var x=0;x<citiesLength;x++) {
                option #{cities[x].cityName}
              - }            
  .mid-scn-main
    section.home-offer-scn
      .owl-carousel.homeofferSlider
        .item
          img(src='images/men-spectacular-bnr.jpg', alt='')
        .item
          img(src='images/men-spectacular-bnr1.jpg', alt='')
        .item
          img(src='images/men-spectacular-bnr2.jpg', alt='')
    section.collection-scn.offlinecollectiondiv
      .fix-wrap
        h2 COLLECTIONS
        .owl-carousel.collectionsSlider
          - for (var x = 0; x < lengthofflineCollections ; x++)
            .item
              a.collection-pic(href='/collection/'+'#{offlineCollections[x]._id}')
                img(src=global.config.variable.apiPath+'/#{offlineCollections[x].collectionPicture}', alt='')
    section.collection-scn.onlinecollectiondiv
      .fix-wrap
        h2 COLLECTIONS
        .owl-carousel.collectionsSlider
          - for (var x = 0; x < lengthonlineCollections ; x++)
            .item
              a.collection-pic(href='/collection/'+'#{onlineCollections[x]._id}')
                img(src=global.config.variable.apiPath+'/#{onlineCollections[x].collectionPicture}', alt='')
    section.catelouges-scn
      .fix-wrap
        h2 CATALOUGES
        .owl-carousel.catelougesSlider
          - for (var x = 0; x < storesLength ; x++)
            .item
              a.catelouges-item(href='/#{stores[x].URL}/#{stores[x]._id}')
                .cate-pic
                  img(src=global.config.variable.apiPath+'/#{stores[x].featureCatalog.catalogUrl}', alt='')
                  span.catalouges-title #{stores[x].featureCatalog.catalogDescription}
    section.feature-shops-scn.offlinestorediv
      .fix-wrap
        h2 Featured ShopS
        .feature-shops-list
          - for (var x = 0; x < storesLength ; x++)
            .feature-shops-item
              a.famme-dtl(href='/#{stores[x].URL}/#{stores[x]._id}')
                img(src=global.config.variable.apiPath+'/#{stores[x].storeBanner}', alt='')
                .feature-info
                  h3 #{stores[x].storeName}
                  p #{stores[x].storeDiscription}
        .view-all-btn
          a.cmn-btn(href='/fshop?buisnessOffline=true') View All
    section.feature-shops-scn.onlinestorediv
      .fix-wrap
        h2 Featured ShopS
        .feature-shops-list
          - for (var x = 0; x < onlineStoresLength ; x++)
            .feature-shops-item
              a.famme-dtl(href='/#{onlineStores[x].URL}/#{onlineStores[x]._id}')
                img(src=global.config.variable.apiPath+'/#{onlineStores[x].storeBanner}', alt='')
                .feature-info
                  h3 #{onlineStores[x].storeName}
                  p #{onlineStores[x].storeDiscription}
        .view-all-btn
          a.cmn-btn(href='/fshop?buisnessOnline=true') View All
    section.editore-pick-scn
      .fix-wrap
        h2 EDITOR’S PICK
        .editorpick-list
          .editorpick-item
            a.famme-dtl(href='#')
              img(src='images/get-hooked-img1.jpg', alt='')
              span.cmn-btn.viewstore-btn VIEW STORE
              .feature-info
                h3 FAMME
                p Lorem lpsum is simply dummy text of theprinting and typesetting industry
          .editorpick-item
            a.famme-dtl(href='#')
              img(src='images/no-26-img.jpg', alt='')
              span.cmn-btn.viewstore-btn VIEW STORE
              .feature-info
                h3 FAMME
                p Lorem lpsum is simply dummy text of theprinting and typesetting industry
          .editorpick-item
            a.famme-dtl(href='#')
              img(src='images/get-hooked-img1.jpg', alt='')
              span.cmn-btn.viewstore-btn VIEW STORE
              .feature-info
                h3 FAMME
                p Lorem lpsum is simply dummy text of theprinting and typesetting industry
          .editorpick-item
            a.famme-dtl(href='#')
              img(src='images/no-26-img.jpg', alt='')
              span.cmn-btn.viewstore-btn VIEW STORE
              .feature-info
                h3 FAMME
                p Lorem lpsum is simply dummy text of theprinting and typesetting industry
    section.newly-added-scn.offlinenewstore
      .fix-wrap
        h2 Newly ADDED
        .newlyadded-list
          .owl-carousel.newlyAdded
            - for (var x = 0; x < newStoresOfflineLength; x++)
              .item
                .newlyadded-item
                  a.famme-dtl(href='/#{newStoresOffline[x].URL}/#{newStoresOffline[x]._id}') 
                    img(src=global.config.variable.apiPath+'/#{newStoresOffline[x].storeBanner}', alt='')
                    .feature-info
                      h3 #{newStoresOffline[x].storeName}
                      // p Lorem lpsum is simply dummy text of
    section.newly-added-scn.onlinenewstore
      .fix-wrap
        h2 Newly ADDED
        .newlyadded-list
          .owl-carousel.newlyAdded
            - for (var x = 0; x < newStoresOnlineLength; x++)
              .item
                .newlyadded-item
                  a.famme-dtl(href='/#{newStoresOnline[x].URL}/#{newStoresOnline[x]._id}') 
                    img(src=global.config.variable.apiPath+'/#{newStoresOnline[x].storeBanner}', alt='')
                    .feature-info
                      h3 #{newStoresOnline[x].storeName}
    section.offers-scn(style='background-image:url(images/offers-bg.jpg)').onlineoffer
      .fix-wrap
        h2 Offers
      .offers-slider-main
        .owl-carousel.offersSlider
          - for (var x = 0; x < lengthOffersOnline; x++)
            .item
              .offers-item
                img(src=global.config.variable.apiPath+'/#{offersOnline[x].offerPicture}', alt='')
                a.flatoffer-btn(href=global.config.variable.apiPath+'/#{offersOnline[x].storeId.URL}/#{offersOnline[x].storeId._id}') #{offersOnline[x].offerName}
                p
                  | '#{offersOnline[x].offerDescription}'          
    section.offers-scn(style='background-image:url(images/offers-bg.jpg)').offlineoffer
      .fix-wrap
        h2 Offers
      .offers-slider-main
        .owl-carousel.offersSlider
          - for (var x = 0; x < lengthoffersOffline; x++)
            .item
              .offers-item
                img(src=global.config.variable.apiPath+'/#{offersOffline[x].offerPicture}', alt='')
                a.flatoffer-btn(href=global.config.variable.apiPath+'/#{offersOffline[x].storeId.URL}/#{offersOffline[x].storeId._id}') #{offersOffline[x].offerName}
                p
                  | #{offersOffline[x].offerDescription}         
    section.blogs-scn
      .fix-wrap
        h2 BLOGs
        .blog-main-prt
          a(href='http://www.zeepzoop.com/blogs'+'/#{blogs[0].URL}')
            img(src=global.config.variable.apiPath+'/#{blogs[0].blogPicture}', alt='')
            h3
              | #{blogs[0].title}
            p
              | #{blogs[0].metaDescription}
        .blog-list-main
          ul
            - for (var x = 1; x < lengthBlogs; x++)
              li
                a(href='http://www.zeepzoop.com/blogs'+'/#{blogs[x].URL}')
                  span.blog-thumb-pic
                    img(src=global.config.variable.apiPath+'/#{blogs[x].blogPicture}', alt='')
                  .blog-list-cont
                    h3
                      | #{blogs[x].title}
                    p
                      | #{blogs[x].metaDescription}
        a.more-btn(href='/blogs') Read More
    section.visual-stories-scn
      .fix-wrap
        h2 VISUAL STORies
        ul.visual-stories-list
          - for (var x = 1; x < lengthVideos; x++)
            li
              iframe(width='382', height='214', src='https://www.youtube.com/embed/#{videos[x].id.videoId}?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')          
        //- a.more-btn(href='#') EXPLORE MORE
    section.gettheapp-scn
      .fix-wrap
        .gettheapp-img
          img(src='images/phone-get-img.png', alt='')
        .gettheapp-cont
          h2 GET THE APP
          p Get The ZeepZoop App Browse designer collection from Countries Best Designer Labels for Clothing, Jwellery, Accessories and Home Decor.
          .playstore
            a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8')
              img(src='images/app-store-icon.png', alt='')
            a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user')
              img(src='images/googleplay-icon.png', alt='')
include common/footer
script(src='js/jquery.min.js')
script(type='text/javascript', src='js/owl.carousel.js')
script(type='text/javascript', src='js/custom.js')
script(type='text/javascript').
  $(document).ready(function() {
    $('.shops-slt').click(function(e) {
      $(this).toggleClass('shopsSlt-current')
    });
    $('.homeofferSlider').owlCarousel({
    loop: true,
    dots: false,
    autoplay: true,
    nav: true,
    items: 1,
    })
    $('.catelougesSlider').owlCarousel({
    loop: true,
    margin: 60,
    responsiveClass: true,
    dots: false,
    nav: true,
    responsive: {
    0: {
    items: 1,
    loop: true,
    margin: 30,
    },
    600: {
    items: 2,
    margin: 30,
    },
    1000: {
    items: 3,
    margin: 30,
    }
    }
    })
    $('.collectionsSlider').owlCarousel({
    loop: true,
    margin: 15,
    dots: false,
    nav: true,
    responsiveClass: true,
    responsive: {
    0: {
    items: 1,
    },
    600: {
    items: 2,
    },
    1000: {
    items: 3,
    }
    }
    })
    $('.offersSlider').owlCarousel({
    autoplay: true,
    nav: true,
    margin: 30,
    center: true,
    loop: true,
    nav: false,
    responsive: {
    0: {
    items: 1,
    margin: 2,
    },
    600: {
    items: 3,
    margin: 5,
    },
    1000: {
    items: 3,
    },
    1100: {
    items: 5,
    }
    }
    });
    $('.newlyAdded').owlCarousel({
    loop: true,
    margin: 60,
    dots: false,
    nav: true,
    responsiveClass: true,
    responsive: {
    0: {
    items: 1,
    margin: 20,
    },
    600: {
    items: 2,
    margin: 20,
    },
    1000: {
    items: 3,
    margin: 20,
    }
    }
    });
    //- var input = document.getElementById("myInput"); 
    //-   input.addEventListener("keyup", function(event) {
    //-   event.preventDefault();
    //-   if (event.keyCode === 13) {
    //-     document.getElementById("searchbuttin").click();
    //-   }
    //- });
    //- $("#categoryicon a").on('click',function(e){
    //-   var id =$(this).attr('id');
    //-   var categoryName =$(this).attr('name');
    //-   if ($('.shops-slt').hasClass('shopsSlt-current')) {
    //-     if (categoryName=='Home Decor') {
    //-     window.location.href= "/category/Home-Decor/" + $(this).attr('id')+"?buisnessOnline=true";
    //-     }else{
    //-     window.location.href= "/category/" + $(this).attr('name') + "/" + $(this).attr('id')+"?buisnessOnline=true";
    //-     }
    //-   }else{
    //-     window.location.href= "/category/" + $(this).attr('name') + "/" + $(this).attr('id')+"?buisnessOffline=true";

    //-   }
    //- });
  });
