include common/head

section.hmeMainPrlxCont.fulHei
  .centerAlign
    .hmeMainPrlxWrp
      h1.hmeSldTtle
        | Discover Most 
        br
        | Amazing and Unique Brands
      .inEShopSwitchWrap
        .inEshpLbl Stores
        .inEshpSwitch
          #switchContainer.switchContainer
            .switchBg
            .switchBtn
        .inEshpLbl Websites
      .inEshpSelect
        select(name='cities')
          option Select City
          - for (var x=0;x<citiesLength;x++) {
            option #{cities[x].cityName}
          - }
      svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='800')
        defs
          filter#gooey
            fegaussianblur(in='SourceGraphic', stdDeviation='3', result='blur')
            fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
//- .swiper-container.main-fullwid-slider
//-   .swiper-wrapper
//-     .swiper-slide
//-       a(href='#')
//-         img(src='/images/ful-wid-slde-1.jpg', alt='img')
//-     .swiper-slide
//-       a(href='#')
//-         img(src='/images/ful-wid-slde-2.jpg', alt='img')
//-   .swiper-button-prev
//-   .swiper-button-next
if lengthofflineCollections > 0
  section#collection-swiper.secPad.collection-swiper-cont.offline
    .centerAlign
      h1.secTtle.mb2 Collections
      .swip-ctrlWrp
        .swiper-container
          .swiper-wrapper
            - for (var x = 0; x < lengthofflineCollections ; x++)
              .swiper-slide.sclHov
                a(href='/collection/'+'#{offlineCollections[x].collectionURL}')
                  img(srcset=global.config.variable.apiPath+'/#{offlineCollections[x].collectionPicture} 1x', alt='img')
        .swiper-button-prev
        .swiper-button-next
section#collection-swiper.secPad.collection-swiper-cont.online
  .centerAlign
    h1.secTtle.mb2 Collections
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < lengthonlineCollections ; x++)
            .swiper-slide.sclHov
              a(href='/collection/'+'#{onlineCollections[x].collectionURL}')
                img(srcset=global.config.variable.apiPath+'/#{onlineCollections[x].collectionPicture} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section.secPad.popular-grid-cont.bg-gry.offline
  .centerAlign.posRel
    h1.secTtle.mb2 Popular
    a.seAlLink.newsebtn(name="/fshop?buisnessOffline=true",id="Popular",style="cursor: pointer;") See All
    ul.popularGridWrap
      - for (var x = 0; x < storesLength ; x++)
        li(style="height: auto;")
          a(href='/brand/#{stores[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{stores[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{stores[x].storeName}
              //- .popGrdDesc #{stores[x].storeDiscription}
section.secPad.popular-grid-cont.bg-gry.online
  .centerAlign.posRel
    h1.secTtle.mb2 Popular
    a.seAlLink.newsebtn(name="/fshop?buisnessOnline=true",id="Populer",style="cursor: pointer;") See All
    ul.popularGridWrap
      - for (var x = 0; x < onlineStoresLength ; x++)
        li(style="height: auto;")
          a(href='/brand/#{onlineStores[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{onlineStores[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{onlineStores[x].storeName}
              //- // .popGrdDesc #{onlineStores[x].storeDiscription}
section#sponsored-swiper.secPad.collection-swiper-cont.offline
  .centerAlign
    h1.secTtle.mb2 SPONSORED
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < sponsoredOffline.length; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{sponsoredOffline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{sponsoredOffline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{sponsoredOffline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section#sponsored-swiper.secPad.collection-swiper-cont.online
  .centerAlign
    h1.secTtle.mb2 SPONSORED
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < sponsoredOnline.length; x++)
            .swiper-slide.sclHov
              a(href='/brand/#{sponsoredOnline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{sponsoredOnline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{sponsoredOnline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section#home-catalogue-swiper.secPad.home-catalogue-cont.bg-gry.offline
  .centerAlign.posRel
    h1.secTtle.mb2 CATALOUGES
    a.seAlLink.catlgurl(name='/catalouge?buisnessOffline=true',style="cursor: pointer;") See All
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < storesLength ; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{stores[x].URL}')
                if stores[x].featureCatalog!==null
                  img(srcset=global.config.variable.apiPath+'/#{stores[x].featureCatalog.catalogUrl} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section#home-catalogue-swiper.secPad.home-catalogue-cont.bg-gry.online
  .centerAlign.posRel
    h1.secTtle.mb2 CATALOUGES
    a.seAlLink.catlgurl(name='/catalouge?buisnessOnline=true',style="cursor: pointer;") See All
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < onlineStoresLength ; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{onlineStores[x].URL}')
                if onlineStores[x].featureCatalog!==null
                  img(srcset=global.config.variable.apiPath+'/#{onlineStores[x].featureCatalog.catalogUrl} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section.secPad
  .centerAlign.posRel
    h1.secTtle.mb2 EDITOR’S PICK
    ul.editrGridMainWrap
      - for (var x = 0; x < offlineeditorlength ; x++)
        li
          a(href='/brand/#{offlineeditor[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{offlineeditor[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{offlineeditor[x].storeName}
              .popGrdDesc #{offlineeditor[x].storeDiscription}
section#newlyadd-swiper.secPad.collection-swiper-cont.bg-gry.online
  .centerAlign
    h1.secTtle.mb2 Newly Added
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < newStoresOnlineLength; x++)
            .swiper-slide.sclHov
              a(href='/brand/#{newStoresOnline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{newStoresOnline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{newStoresOnline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section#newlyadd-swiper.secPad.collection-swiper-cont.bg-gry.offline
  .centerAlign
    h1.secTtle.mb2 Newly Added
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < newStoresOfflineLength; x++)
            .swiper-slide.sclHov
              a(href='/brand/#{newStoresOffline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{newStoresOffline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{newStoresOffline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section.secPad
  .centerAlign
    h1.secTtle.mb3 BLOGs
    .hmeBlogMainCont
      .hmeBlogFeatPost
        a.hmeBlgFeatImg.sclHov(href='/blogs'+'/#{blogs[0].URL}')
          img(srcset=global.config.variable.apiPath+'/#{blogs[0].blogPicture} 1x', alt='img')
        h2.hmeBlgFeatTtle
          a(href='/blogs'+'/#{blogs[0].URL}') #{blogs[0].title}
        .secDesc
          p
            | #{blogs[0].metaDescription}
      .hmeBlgListWrp
        ul
          - for (var x = 1; x < lengthBlogs; x++)
            li
              a(href='/blogs'+'/#{blogs[x].URL}')
                .hmeBlgLstImg
                  img(srcset=global.config.variable.apiPath+'/#{blogs[x].blogPicture} 1x', alt='img')
                .hmeBlgLstInf
                  .hmeBlgLstTtle #{blogs[x].title}
                  .secDesc
                    p
                      | #{blogs[x].metaDescription}
        a.defBtn(href='/blogs') Read More
section.appMockupMainCont.secPad.bg-gry.txtCent
  .centerAlign
    .apMockImg
      img(srcset='/images/app-mockup.png 1x', alt='Zeep Zoop Application')
      // src='/images/app-mockup.png',
    .apMockupInf
      h1.secTtle GET THE ZEEPZOOP APP
      .secDesc
        p
          | Browse designer collection from Country's 
          br
          | Best Designer Labels for Clothing, Jewellery, 
          br
          | Accessories and Home Decor.
      .appLnkWrp
        // a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8',target="_blank")
        //   img(srcset='/images/app-appstore.png 1x', alt='Zeep Zoop App Store')
        a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user',target="_blank")
          img(srcset='/images/app-playstore.png 1x', alt='Zeep Zoop Play Store')
section.secPad
  .centerAlign
    h1.secTtle.mb3 VISUAL STORIES
    ul.visStoryWrap
      - for (var x = 1; x < lengthVideos; x++)
        li
          iframe(src='https://www.youtube.com/embed/#{videos[x].id.videoId}?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    .visStyDefWrp
      a.defBtn(href='https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/videos?pbjreload=10',target="_blank") Explore More

include common/footer
script.
  $(document).ready(function() {
      setTimeout(function(){ 
        if (localStorage.getItem('storetype') && localStorage.getItem('storetype') == "online") {
            container.classList.remove("switchOff");
            container.classList += " switchOn";
            $('.online').show()
            $('.offline').hide()
        } else {
            container.classList.remove("switchOn");
            container.classList += " switchOff";
            $('.offline').show()
            $('.online').hide()
        }
      }, 500);
    var container = document.querySelector("body");
    function onOffSwitch() {
      if (container.classList.contains("switchOn")) {
        container.classList.remove("switchOn");
        container.classList += " switchOff";
        $('.offline').show()
        $('.online').hide()
        localStorage.removeItem('storetype');
      } else {
        $('.online').show()
        $('.offline').hide()
        container.classList.remove("switchOff");
        container.classList += " switchOn";
        localStorage.setItem('storetype', "online");
      }
    }
    document.querySelector("#switchContainer").addEventListener("click", onOffSwitch, false);
    var fulSwiper = new Swiper('.main-fullwid-slider', {
      effect: 'fade',
      navigation: {
      nextEl: '.main-fullwid-slider .swiper-button-next',
      prevEl: '.main-fullwid-slider .swiper-button-prev',
      },
    });
    var colSwiper = new Swiper('#collection-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#collection-swiper .swiper-button-next',
      prevEl: '#collection-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 20
      },
      1000: {
      spaceBetween: 20
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var sponSwiper = new Swiper('#sponsored-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#sponsored-swiper .swiper-button-next',
      prevEl: '#sponsored-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var hmeCataloSwiper = new Swiper('#home-catalogue-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 50,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#home-catalogue-swiper .swiper-button-next',
      prevEl: '#home-catalogue-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var newlyAddSwiper = new Swiper('#newlyadd-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#newlyadd-swiper .swiper-button-next',
      prevEl: '#newlyadd-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
  })