include common/head

//- section.hmeMainPrlxCont.fulHei
  .centerAlign
    .hmeMainPrlxWrp
      h1.hmeSldTtle
        | Discover Most
        br
        | Amazing & Unique Brands
      .inEShopSwitchWrap
        .inEshpLbl Stores
        .inEshpSwitch
          #switchContainer.switchContainer
            .switchBg
            .switchBtn
        .inEshpLbl Websites
      .inEshpSelect
        select(name='cities')
          option Select City
          - for (var x=0;x<citiesLength;x++) {
            option #{cities[x].cityName}
          - }
      svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='800')
        defs
          filter#gooey
            fegaussianblur(in='SourceGraphic', stdDeviation='3', result='blur')
            fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
section.hmeMainPrlxCont.fulHei
  .centerAlign
    .hmeMainPrlxWrp
      h1.hmeSldTtle
        | The Ultimate Place to Discover 
        br
        span Most Amazing Clothing, Jewellery, Accessories & Home Decor Brands
      .hmeAdvnceSrchWrap
        .hmeAdvnceHdrWrp
          ul.hmeAdvnceLnkWrp
            li
              input#srch_store(type='radio', name='srchTab', checked='', value='store')
              label(for='srch_store') Stores
            li
              input#srch_web(type='radio', name='srchTab', value='website')
              label(for='srch_web') Websites
            li
              input#srch_blog(type='radio', name='srchTab', value='blog')
              label(for='srch_blog') Blogs
            li
              input#srch_inf(type='radio', name='srchTab', value='inf')
              label(for='srch_inf') Influencers
          //- a.ctyGuideLnk(href='#') Our City Guides
        .hmeSrchWrp
          select.hmeSrchCtrl(name='cities')
            option Select City
            - for (var x=0;x<citiesLength;x++) {
              option #{cities[x].cityName}
            - }
          input.hmeSrchCtrl.hmeSrchInpMain(type='text', name='searchome')
          button.hmeSrchCtrl.hmeSrchSub Yippie
      .inEShopSwitchWrap
        .inEshpLbl In-Shops
        .inEshpSwitch
          #switchContainer.switchContainer
            .switchBg
            .switchBtn
        .inEshpLbl E-Shops
      svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='800')
        defs
          filter#gooey
            fegaussianblur(in='SourceGraphic', stdDeviation='3', result='blur')
            fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
//- .swiper-container.main-fullwid-slider
//-   .swiper-wrapper
//-     .swiper-slide
//-       a(href='#')
//-         img(src='/images/ful-wid-slde-1.jpg', alt='img')
//-     .swiper-slide
//-       a(href='#')
//-         img(src='/images/ful-wid-slde-2.jpg', alt='img')
//-   .swiper-button-prev
//-   .swiper-button-next
if lengthofflineCollections > 0
  section#collection-swiper.secPad.collection-swiper-cont.offline
    .centerAlign
      h2.secTtle.mb2 Collections
      .swip-ctrlWrp
        .swiper-container
          .swiper-wrapper
            - for (var x = 0; x < lengthofflineCollections ; x++)
              .swiper-slide.sclHov
                a(href='/collection/'+'#{offlineCollections[x].collectionURL}')
                  img(srcset=global.config.variable.apiPath+'/#{offlineCollections[x].collectionPicture} 1x', alt='img')
        .swiper-button-prev
        .swiper-button-next
section#collection-swiper.secPad.collection-swiper-cont.online
  .centerAlign
    h2.secTtle.mb2 Collections
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < lengthonlineCollections ; x++)
            .swiper-slide.sclHov
              a(href='/collection/'+'#{onlineCollections[x].collectionURL}')
                img(srcset=global.config.variable.apiPath+'/#{onlineCollections[x].collectionPicture} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section.secPad.popular-grid-cont.bg-gry.offline
  .centerAlign.posRel
    h2.secTtle.mb2 Popular
    a.seAlLink.newsebtn.curs(name="/fshop?buisnessOffline=true",id="Popular") See All
    ul.popularGridWrap
      - for (var x = 0; x < storesLength ; x++)
        li(style="height: auto;")
          a(href='/brand/#{stores[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{stores[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{stores[x].storeName}
              //- .popGrdDesc #{stores[x].storeDiscription}
section.secPad.popular-grid-cont.bg-gry.online
  .centerAlign.posRel
    h2.secTtle.mb2 Popular
    a.seAlLink.newsebtn.curs(name="/fshop?buisnessOnline=true",id="Populer") See All
    ul.popularGridWrap
      - for (var x = 0; x < onlineStoresLength ; x++)
        li(style="height: auto;")
          a(href='/brand/#{onlineStores[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{onlineStores[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{onlineStores[x].storeName}
              //- // .popGrdDesc #{onlineStores[x].storeDiscription}
section#sponsored-swiper.secPad.collection-swiper-cont.offline
  .centerAlign
    h2.secTtle.mb2 SPONSORED
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < sponsoredOffline.length; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{sponsoredOffline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{sponsoredOffline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{sponsoredOffline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section#sponsored-swiper.secPad.collection-swiper-cont.online
  .centerAlign
    h2.secTtle.mb2 SPONSORED
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < sponsoredOnline.length; x++)
            .swiper-slide.sclHov
              a(href='/brand/#{sponsoredOnline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{sponsoredOnline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{sponsoredOnline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section.secPad.blgListMainCont
  .centerAlign.posRel
    h1.secTtle Fashion Story
    a.seAlLink(href='/story') See All
    .swip-ctrlWrp
      .swiper-container.blogCarouselWrap
        .swiper-wrapper
          - for (var x = 0; x < lengthStories ; x++)
            .swiper-slide
              a.sclHov.blgLstImg(href='/story/#{stories[x]._id}')
                img(src=srcset=global.config.variable.apiPath+'/#{stories[x].bannerImage}', alt='img')
              .blgLstInfWrp
                a.blgLstTtle.hmstry(href='/story/#{stories[x]._id}') #{stories[x].title}
                .blgLstFtrWrp
                  .blgLstAuthInfWrap
                    img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{stories[x].userId.userImage}', alt='img')
                    .blgLstAuthInf
                      div #{stories[x].userId.name}
                      div #{stories[x].time}
      .swiper-button-prev
      .swiper-button-next
section#home-catalogue-swiper.secPad.home-catalogue-cont.bg-gry.offline
  .centerAlign.posRel
    h2.secTtle.mb2 CATALOUGES
    a.seAlLink.catlgurl.curs(name='/catalouge?buisnessOffline=true') See All
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < storesLength ; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{stores[x].URL}')
                if stores[x].featureCatalog!==null
                  img(srcset=global.config.variable.apiPath+'/#{stores[x].featureCatalog.catalogUrl} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section#home-catalogue-swiper.secPad.home-catalogue-cont.bg-gry.online
  .centerAlign.posRel
    h2.secTtle.mb2 CATALOUGES
    a.seAlLink.catlgurl.curs(name='/catalouge?buisnessOnline=true') See All
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < onlineStoresLength ; x++)  
            .swiper-slide.sclHov
              a(href='/brand/#{onlineStores[x].URL}')
                if onlineStores[x].featureCatalog!==null
                  img(srcset=global.config.variable.apiPath+'/#{onlineStores[x].featureCatalog.catalogUrl} 1x', alt='img')
      .swiper-button-prev
      .swiper-button-next
section.secPad
  .centerAlign.posRel
    h2.secTtle.mb2 EDITOR’S PICK
    ul.editrGridMainWrap
      - for (var x = 0; x < offlineeditorlength ; x++)
        li
          a(href='/brand/#{offlineeditor[x].URL}')
            img(srcset=global.config.variable.apiPath+'/#{offlineeditor[x].storeBanner} 1x', alt='img')
            .popGridInf
              .popGrdTtle #{offlineeditor[x].storeName}
              .popGrdDesc #{offlineeditor[x].storeDiscription}
section#newlyadd-swiper.secPad.collection-swiper-cont.bg-gry.online
  .centerAlign
    h2.secTtle.mb2 Newly Added
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < newStoresOnlineLength; x++)
            .swiper-slide.sclHov
              a(href='/brand/#{newStoresOnline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{newStoresOnline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{newStoresOnline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section#newlyadd-swiper.secPad.collection-swiper-cont.bg-gry.offline
  .centerAlign
    h2.secTtle.mb2 Newly Added
    .swip-ctrlWrp
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < newStoresOfflineLength; x++)
            .swiper-slide.sclHov 
              a(href='/brand/#{newStoresOffline[x].URL}')
                img(srcset=global.config.variable.apiPath+'/#{newStoresOffline[x].storeBanner} 1x', alt='img')
                .popGridInf
                  .popGrdTtle #{newStoresOffline[x].storeName}
      .swiper-button-prev
      .swiper-button-next
section.secPad
  .centerAlign
    h2.secTtle.mb3 BLOGs
    .hmeBlogMainCont
      .hmeBlogFeatPost
        a.hmeBlgFeatImg.sclHov(href='/blogs'+'/#{blogs[0].URL}')
          img(srcset=global.config.variable.apiPath+'/#{blogs[0].blogPicture} 1x', alt='img')
        h2.hmeBlgFeatTtle
          a(href='/blogs'+'/#{blogs[0].URL}') #{blogs[0].title}
        .secDesc
          p
            | #{blogs[0].metaDescription}
      .hmeBlgListWrp
        ul
          - for (var x = 1; x < lengthBlogs; x++)
            li
              a(href='/blogs'+'/#{blogs[x].URL}')
                .hmeBlgLstImg
                  img(srcset=global.config.variable.apiPath+'/#{blogs[x].blogPicture} 1x', alt='img')
                .hmeBlgLstInf
                  .hmeBlgLstTtle #{blogs[x].title}
                  .secDesc
                    p
                      | #{blogs[x].metaDescription}
        a.defBtn(href='/blogs') Read More
section.appMockupMainCont.secPad.bg-gry.txtCent
  .centerAlign
    .apMockImg
      img(srcset='/images/app-mockup.png 1x', alt='Zeep Zoop Application')
      // src='/images/app-mockup.png',
    .apMockupInf
      h2.secTtle.sect GET THE ZeepZoop APP
      .secDesc
        p
          | Browse designer collection from Country's 
          br
          | Best Designer Labels for Clothing, Jewellery, 
          br
          | Accessories and Home Decor.
      .appLnkWrp
        // a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8',target="_blank")
        //   img(srcset='/images/app-appstore.png 1x', alt='Zeep Zoop App Store')
        a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user',target="_blank")
          img(srcset='/images/app-playstore.png 1x', alt='Zeep Zoop Play Store')
section.secPad
  .centerAlign
    h2.secTtle.mb3 VISUAL STORIES
    ul.visStoryWrap
      - for (var x = 1; x < lengthVideos; x++)
        li
          iframe(src='https://www.youtube.com/embed/#{videos[x].id.videoId}?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    .visStyDefWrp
      a.defBtn(href='https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/videos?pbjreload=10',target="_blank") Explore More

include common/footer
.centerAlign
  p.hmcntnt
    | ZeepZoop is India’s most loved online shopping guide, and we strive everyday to stay that way. ZeepZoop is designed to give its users one of a
    | kind experience. An online fashion discovery app that catalogues the best of designer studios and galleries that house modern and contemporary,
    | Bespoke and Prete-a-Porter clothing, along with exquisite home decor and luxury lifestyle products all under one roof. ZeepZoop itemizes the 
    | finest of designers from across the country. You will designer boutiques from finest of brands. The list is curated with utmost care and 
    | precision, we make sure to dish out only the best for our customers.

  p.hmcntnt
    | This fashion discovery app believes in making your shopping spree time-effective. With us, you can check the boutiques and studios near you, 
    | check out the online presence of your favorite brands and designers before heading out. ZeepZoop has stores from the major cities of India, 
    | making us a must use shopping guide for Ahmedabad, Mumbai, Delhi, Bangalore, Hyderabad, Pune, Jaipur, Kolkata, etc.

  p.hmcntnt
    | ZeepZoop is not just a fashion discovery app, but it also provides you the best platform to showcase your fashion. You can also earn money by 
    | being active socially on the ZeepZoop App. Posting stories, commenting and building up your fashion profile. To know more check out the 
    | attractive ZeepZoop point system.

  p.hmcntnt
    | You can find a myriad luxury fashion and home decor items to choose from. Pick your favorite lehengas, jewellery, sarees, stationary and 
    | accessories to choose from with our fashion discovery app.
script.
  $(document).ready(function() {
    var container = document.querySelector("body");
    setTimeout(function(){
      if (localStorage.getItem('storetype') && localStorage.getItem('storetype') == "online") {
          container.classList.remove("switchOff");
          container.classList += " switchOn";
          $('.online').show()
          $('.offline').hide()
      } else {
          container.classList.remove("switchOn");
          container.classList += " switchOff";
          $('.offline').show()
          $('.online').hide()
      }
    }, 500);
    $('.hmeSrchInpMain').keyup(function(event) {
      event.preventDefault();
      var radioValue = $("input[name='srchTab']:checked").val();
      var value=$(this).val();
      if (event.keyCode === 13) {
        if (value !== undefined && value !== null && value !== '') {
          if(radioValue=='store' || radioValue=='website'){
            if ($('body').hasClass('switchOn')) {
                var online = true;
            } else {
                var online = false;
            }
            if (online == true) {
                window.location.href = "/search?searchFor=" + value + "&buisnessOnline=true";
            } else {
                window.location.href = "/search?searchFor=" + value + "&buisnessOffline=true";
            }
          }
          if(radioValue=='blog'){
            window.location.href = "/blogsearch?searchFor=" + value;
          }
          if(radioValue=='inf'){
            window.location.href = "/users?searchFor=" + value;
          }
          $(".hmeSrchInpMain").val('');
        } else {
            alert("Please Enter Value of Search Box")
        }
      }
    });
    $('.hmeSrchSub').click(function(event) {
      event.preventDefault();
      var radioValue = $("input[name='srchTab']:checked").val();
      var value= $("input[name='searchome']").val();
        if (value !== undefined && value !== null && value !== '') {
          if(radioValue=='store' || radioValue=='website'){
            if ($('body').hasClass('switchOn')) {
                var online = true;
            } else {
                var online = false;
            }
            if (online == true) {
              window.location.href = "/search?searchFor=" + value + "&buisnessOnline=true";
            } else {
              window.location.href = "/search?searchFor=" + value + "&buisnessOffline=true";
            }
          }
          if(radioValue=='blog'){
            window.location.href = "/blogsearch?searchFor=" + value;
          }
          if(radioValue=='inf'){
            window.location.href = "/users?searchFor=" + value;
          }
          $(".hmeSrchInpMain").val('')
        } else {
            alert("Please Enter Value of Search Box")
        }
    });
    function onOffSwitch() {
      if (container.classList.contains("switchOn")) {
        container.classList.remove("switchOn");
        container.classList += " switchOff";
        $('.offline').show()
        $('.online').hide()
        localStorage.removeItem('storetype');
      } else {
        $('.online').show()
        $('.offline').hide()
        container.classList.remove("switchOff");
        container.classList += " switchOn";
        localStorage.setItem('storetype', "online");
      }
    }
    document.querySelector("#switchContainer").addEventListener("click", onOffSwitch, false);
    var fulSwiper = new Swiper('.main-fullwid-slider', {
      effect: 'fade',
      navigation: {
      nextEl: '.main-fullwid-slider .swiper-button-next',
      prevEl: '.main-fullwid-slider .swiper-button-prev',
      },
    });
    var colSwiper = new Swiper('#collection-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#collection-swiper .swiper-button-next',
      prevEl: '#collection-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 20
      },
      1000: {
      spaceBetween: 20
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var sponSwiper = new Swiper('#sponsored-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#sponsored-swiper .swiper-button-next',
      prevEl: '#sponsored-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var hmeCataloSwiper = new Swiper('#home-catalogue-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 50,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#home-catalogue-swiper .swiper-button-next',
      prevEl: '#home-catalogue-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    var newlyAddSwiper = new Swiper('#newlyadd-swiper .swiper-container', {
      slidesPerView: 3,
      loop: true,
      spaceBetween: 40,
      slidesPerGroup: 1,
      navigation: {
      nextEl: '#newlyadd-swiper .swiper-button-next',
      prevEl: '#newlyadd-swiper .swiper-button-prev',
      },
      breakpoints: {
      480: {
      slidesPerView: 1,
      spaceBetween: 0
      },
      768: {
      slidesPerView: 2,
      spaceBetween: 10
      },
      1000: {
      spaceBetween: 15
      },
      1250: {
      spaceBetween: 30
      }
      }
    });
    $('.blogCarouselWrap').each(function() {
    var $swipCont = $(this),
    $swipNxt = $swipCont.parent().children('.swiper-button-next'),
    $swipPrv = $swipCont.parent().children('.swiper-button-prev');
    var swip = new Swiper($swipCont, {
    slidesPerView: 3,
    loop: true,
    spaceBetween: 30,
    slidesPerGroup: 1,
    navigation: {
    nextEl: $swipNxt,
    prevEl: $swipPrv
    },
    breakpoints: {
    600: {
    slidesPerView: 1,
    spaceBetween: 0
    },
    768: {
    slidesPerView: 2,
    spaceBetween: 10
    },
    1000: {
    slidesPerView: 2,
    spaceBetween: 15
    },
    1250: {
    spaceBetween: 30
    }
    }
    });
    })
  })