include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/Jewellery.jpg');")  
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{category.category}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for(var x=0;x<categoryStorelength;x++)
        li
          if categoryStore[x]
            a.sclHov(href='/brand/#{categoryStore[x].URL}')
              img(src=global.config.variable.apiPath+'/#{categoryStore[x].storeBanner}', alt='img')
            .featShpInfWrp
              a.popGrdTtle(href='/brand/#{categoryStore[x].URL}') #{categoryStore[x].storeName}
              .popGrdDesc #{categoryStore[x].storeDiscription}
              //- // .featShpActBtn
              //- //   a.act_icn.icn_bokMark(href='#')
              //- //     i
              //- //   a.act_icn.icn_sharePst(href='#')
              //- //     i
            .featShpRate #{categoryStore[x].avgRating}   
    .txtCent.mt60
      a.defBtn.loadMore(id="loadmoreshop",name="Jewellery") Load More

.centerAlign
  h1 Jewellery Stores Online
  p.hmcntnt
    | ZeepZoop is proudly one of the fewest online shopping guides for jewellery in India. We believe Jewellery is an integral part of fashion as 
    | it transcends the meaning of fashion in a way. Wearing Jewellery is an extension of one’s cultural and individualistic identity. To adorn 
    | oneself with ornamental jewellery is instinctual and innate in us. We have stuck gemstones in rare metals and worn them to display social 
    | statuses, emotions like mourning, love, etc, to simply showcase love for art and to sometimes for protection in the form of amulets. 

  p.hmcntnt
    | Our jewellery buying guide endorses the culture of expressing oneself through pieces of well-crafted jewellery as well as promotes brands by 
    | luxury jewellery designers that design conceptualized, thoughtful, hand-made, Indian jewellery, rather than mass-produced, random pieces of 
    | moulded metals.

  p.hmcntnt
    | In our fashion jewellery guide, you will find ethnic, traditional and elaborated jewellery with precious and semi-precious colorful stones for 
    | making you rise to the royalness of the occasion and add to the grandeur of yourself. There are floral designs and minimalistic jewelleries for 
    | the free-spirited and flamboyant you. You can also beget an assorted variety of silver sterlings. Along with that find the latest bridal
    | jewellery that is sophisticated, sensible and sensational all at the same time. Find rings, bangles, earrings, chokers, necklaces, bracelets, 
    | anklets, mang tikas, diamonds, solitaires and jewellery sets for yourself or your loved ones from a myriad of varieties to choose from through 
    | our jewellery buying guide ZeepZoop that is made to satiate your love for jewellery in mind.

include common/footer