include common/head

.wrapper
  section.innerpage-hero
    img(src='images/feature-hero.jpg', alt='')
  .mid-scn-main
    section.bagsmore-scn
      .fix-wrap
        .breadcream
          ul
            li
              a(href='/') Home
            li.active #{searchfor}
        .bagsmore-list-main
          - for (var x = 0; x < stores.length; x++)
            .bagsmore-item
              img(src=global.config.variable.apiPath+'/#{stores[x].storeBanner}', alt='')
              .watermark-logo
                img(src='images/img-watermark-icon.png', alt='')
                span #{stores[x].avgRating}
              .info-share-book
                .bag-info-cont
                  a.bag-title(style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;",
                    href='/brand/#{stores[x].URL}') #{stores[x].storeName}
                  p(style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;") #{stores[x].storeDiscription}
                // .bookmarkshare-link
                //   a(href='#')
                //     img(src='images/bookmark-icon.png', alt='')
                //   a(href='#')
                //     img(src='images/share-icon.png', alt='')
          if lengthStores <= 0
            a(style="margin-left: 200px;font-size: 24px;") Oops! We Could not Find What You Are Searching For! Please Try Other Terms    
include common/footer
script.
  document.body.classList.add("body-innerpage");
       