include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg(style="background-image: url('/images/banner-featshop.jpg');")
  .hmeMainPrlxWrp
    //- .inEShopSwitchWrap
    //-   .inEshpLbl In-Shops
    //-   .inEshpSwitch
    //-     #switchContainer.switchContainer
    //-       .switchBg
    //-       .switchBtn
    //-   .inEshpLbl E-Shops
    //- .inEshpSelect
    //-   select
    //-     option Select City
    //-     option Ahmedabad
    svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='800')
      defs
        filter#gooey
          fegaussianblur(in='SourceGraphic', stdDeviation='3', result='blur')
          fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') #{searchfor}
section.secPad.pt0
  .centerAlign
    ul.featShopMainCont.popularGridWrap
      - for (var x = 0; x < stores.length; x++)
        li
          a.sclHov(href='/brand/#{stores[x].URL}')
            img(src=global.config.variable.apiPath+'/#{stores[x].storeBanner}', alt='img')
          .featShpInfWrp
            a.popGrdTtle(href='/brand/#{stores[x].URL}') #{stores[x].storeName}
            .popGrdDesc #{stores[x].storeDiscription}
            // .featShpActBtn
            //   a.act_icn.icn_bokMark(href='#')
            //     i
            //   a.act_icn.icn_sharePst(href='#')
            //     i
          .featShpRate #{stores[x].avgRating}   
    .txtCent.mt60
      if lengthStores <= 0
        a.loadMore Oops! We Could not Find What You Are Searching For! Please Try Other Terms
      // a.defBtn.loadMore(id="loadmoreshop",name="Jewellery") Load More

include common/footer