include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg.sizCover(style='background-image: url('+global.config.variable.apiPath+'/#{store.storeBanner}'+')')
  .shopRatingMainWrp
    .centerAlign
      a.shopRate(href='javascript:void(0);', data-fancybox='')
        strong #{store.avgRating}
        span #{store.reviewCount} Votes
section.shopBothInfPgeMainCont
  .centerAlign
    .shopInfoMainCont
      a.shopProfilPicMainWrp(data-fancybox='', href=global.config.variable.apiPath+'/#{store.storeLogo}')
        img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
      .shopInfWrap
        if store.buisnessOnline==true && store.buisnessBoth == false || store.address=="<null>" && store.address==undefined
          h1.shpTtle.posRel.macho
            | #{store.storeName}
            //- img.icnVerified(src='/images/icon-verified.svg', alt='img')
        else
          h1.shpTtle.posRel
            | #{store.storeName}
        if store.address!="<null>"
          .shopAdres #{store.address}
        .secDesc
          p(style="text-align: justify;",id="strdesc")
            | #{store.storeDiscription}
          if store.storeDiscription.length>155
            span(id="readmore",style="cursor:pointer;color:#b21a34;font-size:13px;") Read More
        ul.tempbutton
          li
            .shpDireShpNwBtn
              if store.buisnessOffline==true        
                a.act_icn.icn_pin(href='https://www.google.com/maps/?q=#{store.address}', target="_blank")
                  span Get Direction
                  i
              if store.buisnessOnline==true
                a.act_icn.icn_cart(href="#{store.webAddress}", onclick="trackOutboundLink(#{store.webAddress}); return false;", target="_blank")
                  span Visit Website
                  i
          //- li
          //-   a.act_icn.icn_bokMark(href='javascript:void(0)')
          //-     i
          //-   span Bookmark
          //- li
          //-   //- a.act_icn.icn_list(data-fancybox='', href='#addToList')
          //-   a.act_icn.icn_list(href='javascript:void(0)')
          //-     i
          //-   span Add to List
          //- li
          //-   a.act_icn.icn_rate(data-fancybox='', href='#rate-shop')
          //-     i
          //-   span Rate
          //- li
          //-   a.act_icn.icn_shre(href='javascript:void(0)')
          //-     i
          //-   span Share
        #addToList.addToListMainCont
          .secTtle2 Add to List
          ul.addToListWrap
            li
              a(href='javascript:void(0)')
                img(src='/images/icon-star.png', alt='img')
                span Favorite
            li
              a(href='javascript:void(0)')
                span New
          .adtoListItemFrm
            input.adToInp(type='text', placeholder='list name')
            input.adToSub(type='button', value='Add')
        #rate-shop.ratingPopupMainCont
          .ratingShpImg
            img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
          .secTtle2 #{store.storeName}
          .ratingStarMainWrp
            select#example
              option(value='1') 1
              |   
              option(value='2') 2
              |   
              option(value='3') 3
              |   
              option(value='4') 4
              |   
              option(value='5') 5
          .ratingReviewFrm
            textarea.regBrndInpt(id="ratedes")
          .mt30.centSub
            input.frmSubBtn.giverate(type='button', value='Submit')
      .shopInfDireTimiWrap
        .shpInfTimings
          span
            //- strong Hours: Open
            //- |  . Closes 8PM
        //- .shpDireShpNwBtn
        //-   if store.buisnessOffline==true          
        //-     a.act_icn.icn_pin(href='https://www.google.com/maps/?q=#{store.address}', target="_blank")
        //-       span Get Direction
        //-       i
        //-   if store.buisnessOnline==true
        //-     a.act_icn.icn_cart(href="#{store.webAddress}", onclick="trackOutboundLink(#{store.webAddress}); return false;",rel="nofollow", target="_blank")
        //-       span Visit Website
        //-       i
    .shopBothBredCrumb.inrBredCrumbCont
      ul.bredCrumbWrp
        li
          a(href='/') Home
        li
          a(href='javascript:void(0)') #{store.storeName}
  //- .shopFeatCont.bg-gry
  //-   .centerAlign
  //-     ul.shpFeatList
  //-       li
  //-         i.redDot
  //-         span Cash on Delivery 
  //-       li
  //-         i.redDot
  //-         span Gift Wrap
  //-       li
  //-         i.redDot
  //-         span Customization Avaliable
  //-       li
  //-         i.grenDot
  //-         span Free Shipping
  //-       li
  //-         i.grenDot
  //-         span Credit/Debit Card Accepted
  .secPad.shopBothCatMainCont
    if storeCatalogs[0] !==undefined
      img.shpBothCatBg(src=global.config.variable.apiPath+'/#{storeCatalogs[0].catalogUrl}', alt='img')
    .centerAlign
      h2.secTtle CATALOUGE
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < lengthstoreCatalogs; x++)
            .swiper-slide.sclHov
              a(href='javascript:void(0);')
                img(src=global.config.variable.apiPath+'/#{storeCatalogs[x].catalogUrl}', alt='#{store.storeName}')    
if seoData.seodesc=="traveler's-home"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Travelers home
        p
          | Travelers Home is the brainchild of Ruchira Asnani. A space stylist from NIFT Gandhinagar, she has extensively researched the spatial design and likes all her creations and collections to perfection. Travelers home as the names suggest, is a one-stop shop that accentuates a travelers expression to life through art. If you are are globetrotter or are simply fancied by the lands beyond the ocean then this store is the place for you. The store is dedicated to bring global lifestyle and decor in to one place. With their carefully selected products you can create an abode that gives out a global experience to our customers.
        p
          | Their offline store work to stimulate all senses by creating pleasing palettes gives solace to the discerning eye and mesmerizing aromas engulf you once you step into their space almost acts therapeutic to the body.
        p
          | If you would like to get tailored made gifts for weddings, corporate gifting or festive gestures, they have a myriad range of products. They take pride in housing certain limited editions with the intention of indulging our clients. In times of indecisiveness, the display cleverly suggests products that should be used together to enhance the look. Ruchira’s personal explorations and appreciation of space make this venture close to her heart, and add a special touch, which is evident in her work.

if seoData.seodesc=="darshi-shah-bhavin-trivedi"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Darshi Shah and Bhavin Trivedi
        p
          | Darshi Shah and Bhavin Trivedi are one of the finest and most sought-after designers of the country. In 2010 the now famous designer duo came together to bring about their Fashion Label DSBT. One can get factory made, luxury attires, as well as tailor-made pieces since Prêt-à-Porter and Haute Couture, are both done at DSBT. They are loved for their Haute Couture because they dish out customization in all the designs, irrespective of the body types.
        p
          | They in real sense hold the flambeaux of the rich Indian heritage by creating royal pieces of Indian textile and fashion. Not only they master the ethnic and cultural fashion in contemporary ways but also bring out the best of both worlds by their Indo-Western collection. Their traditional collection bring to the spotlight the richness of Indian roots and their Indo-Western pieces are fine pieces of balance between the Oriental and the Occidental, stimulating the senses in the right, quirky way.  
        p
          | Their clientele is not boxed up in anyway with regards to socio-economic status, gender or age. Their collection is eclectic and garments with a tinge of abstraction always makes sense. Be it bridal-wear, trousseau, or just semi-formal occasion-wear, their silhouettes are glamorous. You can find these outfit types at DSBT:
        p
          | Salwar kameez
        p
          | Suits
        p
          | Sarees
        p
          | Lehengas
        p
          | Shararas
        p
          | Chaniya choli
        p
          | Anarkalis
        p
          | DSBT’s design components are subtle and yet thematically sensible enough to impart class and individuality to the wearer. They can be found at 12-A, Sudarshan Bungalows, Near Mansi Towers, Vastrapur, Ahmedabad, Gujarat.

if seoData.seodesc=="tvak-designer-store"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Tvak designer store
        p
          | Tvak Designer Store is a multi-designer store that offers clothing from some of the best designers of our country. You can shop ethnic, indian, western and indo-western wear from here.
        p
          | An artist run studio for visual artists and other creative people. Photographers, Musicians, Writers and those working with new media. Tvak is 5 years old and organises exhibitions, conducts workshops and lectures and hosts both local and foreign artists who want to pursue their own art practice or research Indian indigenous arts. Tvak Multi Designer Studio customise the schedule for each of our artists and facilitate on their behalf.
        p
          | This design store is the creative product of Sukhi singh & Deviba Wala. You can find it at 27, Sunrise Park, Bodakdev, Ahmedabad, Gujarat 380054.

if seoData.seodesc=="kasheesh.k"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Kashees k
        p
          | Kasheesh K, is a stunning Indian fashion designer and couturier well versed in a wide scope of fashion disciplines. In the dawn of her career she had produced a lot of work under many well reputed fashion labels across Ahmedabad.
        p
          | Her specialised services in bespoke designer-jewellery, allied accessories, and foot-wear are very sought after. Her first fashion label was 'Zubaa, the fashion language.’
        p
          | Kasheesh’s mission is patron centric. To win their loyalty she perseveres to embrace first rate textile, employing industry’s talented human resources; persistently updating skills – technology to escalate and deliver excellence. Just what any fashion enthusiast expects for.

if seoData.seodesc=="purva-couture"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Purva couture
        p
          | Purva Couture is an exclusive fashion design boutique with happy clients from all around the world. Purva Couture specializes in Prete-a-Porter wear, materializing the dream fashion for the patrons. She has made many brides more beautiful for their weddings, her gowns have lingering sensuality while retaining the grandeur of Indian ethnicity. A well balanced off beat poetry, are her pieces.
        p
          | Purva the founder of Purva Couture is Driven by a passion for ethnic elegance on the fashion freeway.  She has  showcased her work for quite a few stores. She haas had a dedicated career with lush fabrics cut & embroideries, her work has made her associated with more than 25 associations till now. The head designer sticks to neat, crisp, simple and minimalistic approach for her collections and strives on Exclusively. Her work process and artistic integrity gives her clothes a global appeal yet passionately indian appeal.

if seoData.seodesc=="intelligent-idiots"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Intelligent idiots
        p
          | Intelligent Idiots is one of a kind accessories and stationery store. All the merchandise and collections are curated by the brand itself. It is one of its kind. If you are looking for something quirky, different, something that stands out from the rest Intelligent Idiots is the place for you. There designs follow an urbanesque thing. Their curated niche  products reflect their maximum efforts in the concept and craftsmanship of the products. The products are printed, doodled, they show finest of graphic design and their color blocked items are certainly eye popping.
        p
          | You can find here products for people of any age. Here’s what all they do offer:
        p
          | Badges, Bags, Bow-tie, Boxes, Chai Glasses, Clocks, Cushion Diaries, Eye Mask & Travel Pillow, Footwear, Frames, Games, Key chains, Luggage Tags, Magnets, Mugs, Passport Holders, Pillow Covers, Posters, Posters, Shot Glasses, Tea Coasters, Tray, Waistcoats & Wallets

if seoData.seodesc=="zinzuwadia-jewellers"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Zinzuwadia jewellers
        p
          | Zinzuwadia Jewellers  A Vinod Zinzuwadia Establishment, Jeweller since 1969 is a renowned jewelry retail brand based out in Ahmedabad, Gujarat, India. It came into existence in the year 1969 as an ambitious family collective After its curation the brand has only grown. Its commerce has spread across the western and southern provinces of India in forty years.
        p
          | Zinzuwadia has been in a hereditary long pursuit of manufacturing Yellow Metal Jewellery, and eventually as  generation passed they learned and mastered the traditional art form of Kundan, Jadtar, etc.
        p
          | They now alongside volume operations, adopting forward retail trade practices in its hometown they own a retail brand showroom with a wide range of Jewellery in Gold, Diamond, and Platinum. They are situated amongst the busiest fashion stretch. Zinzuwadia’s this, most sophisticated a la retail showroom is well fitted with all modern amenities extending Today, well framed – patron centric retail policies and structured operations govern Zinzuwadia’s retail commerce. They supply the best of niche crafted high-end ornaments of diamond, precious gemstones, and platinum too for all ceremonies and celebrations. They provide Pret-a-Porter and Bespoke Jewellry. They further secure their patrons by showcasing and marketing exclusive 916 Hallmark Certified Jewellery art inventory.

if seoData.seodesc=="the-shoe-tales"
  section
    .secPad.aboutShop
      .centerAlign
        h3 The shoe tales
        p
          | The Shoe Tales run on the idea of curating your shoes and materializing your dreams. Has this ever happened to you that you have a pair of shoes imagined in your head but frustratingly you never could find the design, and you had to settle for something else? We relate to that and it is frustrating. With us that ends, we get you tailored for you footwear just the way you would want. From material type to details we will do things just the way you want.
        p
          | Find Kolhapuris with faux leather (We are PETA  Supporters). You can also find jazzy Punjabi juttis with tinkling sound of ghoonghroos. Vibrant colours, neat curves, with utmost concern given to the quality. Our neon shades and quirky designs are loved by the youth.
        p
          | And for the more traditional and contemporary people, we have gotten the Kohlapuri wedges (it is a must have for the short girls) that can make you stand out and stand tall in the crowd. At our store you can get the embroidered juttis for wedding occasions, also the floral ones that go great with western outfits. Thus you can find the best of both worlds here
        p
          | You can find them here NILESH BUNGALOWS, Uganda Society(INDEPENDENT BUNGALOWS, SUBHASH CHOWK,BEHIND A-1 SCHOOL, GURUKUL, Memnagar, Ahmedabad, Gujarat 380052.

if seoData.seodesc=="sivi"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Sivi the bespoke boutique
        p
          | Sivi the bespoke boutique as the title suggest is a bespoke boutique, any woman can get what you want the way you want through them. There main focus is giving the customers best bespoke experience. At Sivi women will find an extravagant range of products varying from Suits,Kurtis, Bandhanies and everything else one needs to satiate their fashion hunger.
        p
          | Sivi believes in giving to the customer what they actually need, and would suit their body and personality to perfection. They do not believe in bulk manufacturing to standard sized clothing.
        p
          | Sivi is meant for the women who want their personalities to shine through their clothing in a simple yet stylish way. Cost effective and elegant sivi is all a woman could ask for.
        p
          | You will find them at 3, 1st floor, Rivera Arcade, Near P. Tarachand, Prahladnagar.

if seoData.seodesc=="aryan's-designer-studio"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Aryan Designer store
        p
          | ARYAN'S is Ahmedabad's born and based, Fashion Boutique. ARYAN'S by Sujata Agrawal is a Designer store was curated and is currently based in Ahmedabad. This Fashion Label was founded by Sujata Agrawal. ARYAN'S is built on the ethos to create clothes that are both luxurious and wearable. They are very feminine but have an unfussy look about it. The designs are especially sophisticated: modern but never meaningless, abstract but rational, refined yet sensual. with exceptional fabrics and highly perfected detail they have won many hearts. Choose from a plethora of fine articles from indo western gowns, bridal-wear, dresses and ethnic kurti. ARYAN'S long-term vision it to develop itself as a luxury brand of uncompromised quality. Find this store on SG highway, Near Rajpath Club.
.secPad.shopBothReviewMainCont
  .centerAlign
    ul.reviewMainCont
      - for (var x = 0; x < reviewslength; x++)
        li
          .reviewAuthWrp
            if reviews[x].userId && reviews[x].userId.userImage
              img(src=global.config.variable.apiPath+'/#{reviews[x].userId.userImage}', alt='img')
            else
              img(src="/images/user_profile.png", alt='img')
            if reviews[x].userId
              span #{reviews[x].userId.name}
            else
              span Zeepzoop User
          .reviewStarWrap
            .reviewStarRatings
              select(class="staterate")
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
              script(type='text/javascript').
                $('.staterate').barrating({theme:'css-stars',readonly: true,initialRating:'#{reviews[x].ratingScale}'})
          .secDesc
            p
              | #{reviews[x].description}
    .mt30
      // a.defBtn(href='#') See All Reviews

include common/footer
script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb3426196915581')
script.
  var trackOutboundLink = function(e) {
    var url='#{store.webAddress}'
    window
    ga('send', 'event', 'outbound', 'click', url, {
      'transport': 'beacon',
      'hitCallback': function(){document.location = url;}
    });
  }
  $(document).ready(function(e) {
    var urate={}
    $('#example').barrating({
      theme: 'css-stars',
      initialRating: -1,
      onSelect: function(value, text, event) {
        if (typeof(event) !== 'undefined') {
          urate.ratingScale=value;          
        } else {
            console.log("rate is not given yet")
        }
      }
    });

    var txt= $('#strdesc').text();
    if(txt.length > 155)
    $('#strdesc').text(txt.substring(0,150) + '.....');

    $('#readmore').click(function(e){
      $('#strdesc').text(txt.substring(0,txt.length));
      $(this).hide();
    });
    $('.giverate').click(function(e){
      if(localStorage.getItem('UserTo')!==null&&localStorage.getItem('userD')!==null&&localStorage.getItem('userName')!==null){
        if($('#ratedes').val()!==''||$('#ratedes').val()!==null){
          urate.description=$('#ratedes').val();
          urate.storeId='#{store._id}';
          urate.userId=localStorage.getItem('userD');
          var token=localStorage.getItem('UserTo');
          
          var request = $.ajax({
            headers: {
                'Authorization': "JWT "+ token,
                'Content-Type': "application/json;charset=UTF-8"
            },
            type: "POST",
            url: "https://api.zeepzoop.com/reviews/",
            data: JSON.stringify(urate),
            dataType: "json"
          });

          request.done(function(response) {
              window.location.reload();
          }); 
          request.fail(function(jqXHR, textStatus) {
              alert("Request failed: " + textStatus);
          });
        }else{
          alert("please Enter Description")
        }
      }else{
        alert("You Have To Login First");
      }
    });
  })
  var newlyAddSwiper = new Swiper('.shopBothCatMainCont .swiper-container', {
  loop: true,
  slidesPerView: 5,
  spaceBetween: 50,
  slidesPerGroup: 1,
  effect: 'coverflow',
  slideToClickedSlide: true,
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: 'auto',
  autoplay: {
  delay: 4000,
  disableOnInteraction: false,
  },
  coverflowEffect: {
  rotate: 0,
  stretch: 0,
  depth: 70,
  modifier: 3,
  slideShadows: true,
  },
  breakpoints: {
  600: {
  spaceBetween: 20
  }
  }
  });