include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg.sizCover(style='background-image: url('+global.config.variable.apiPath+'/#{store.storeBanner}'+')')
  .shopRatingMainWrp
    .centerAlign
      a.shopRate(href='javascript:void(0);', data-fancybox='')
        strong #{store.avgRating}
        span #{store.reviewCount} Votes
section.shopBothInfPgeMainCont
  .centerAlign
    .shopInfoMainCont
      a.shopProfilPicMainWrp(data-fancybox='', href=global.config.variable.apiPath+'/#{store.storeLogo}')
        img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
      .shopInfWrap
        if store.buisnessOnline==true && store.buisnessBoth == false || store.address=="<null>" && store.address==undefined
          h1.shpTtle.posRel.macho
            | #{store.storeName}
            //- img.icnVerified(src='/images/icon-verified.svg', alt='img')
        else
          h1.shpTtle.posRel
            | #{store.storeName}
        if store.address!="<null>"
          .shopAdres #{store.address}
        .secDesc
          p(style="text-align: justify;",id="strdesc")
            | #{store.storeDiscription}
          if store.storeDiscription.length>155
            span(id="readmore",style="cursor:pointer;color:#b21a34;font-size:13px;") Read More
        ul.tempbutton
          li
            .shpDireShpNwBtn
              if store.buisnessOffline==true        
                a.act_icn.icn_pin(href='https://www.google.com/maps/?q=#{store.address}', target="_blank")
                  span Get Direction
                  i
              if store.buisnessOnline==true
                a.act_icn.icn_cart(href="#{store.webAddress}", onclick="trackOutboundLink(#{store.webAddress}); return false;", target="_blank")
                  span Visit Website
                  i
          //- li
          //-   a.act_icn.icn_bokMark(href='javascript:void(0)')
          //-     i
          //-   span Bookmark
          //- li
          //-   //- a.act_icn.icn_list(data-fancybox='', href='#addToList')
          //-   a.act_icn.icn_list(href='javascript:void(0)')
          //-     i
          //-   span Add to List
          //- li
          //-   a.act_icn.icn_rate(data-fancybox='', href='#rate-shop')
          //-     i
          //-   span Rate
          //- li
          //-   a.act_icn.icn_shre(href='javascript:void(0)')
          //-     i
          //-   span Share
        #addToList.addToListMainCont
          .secTtle2 Add to List
          ul.addToListWrap
            li
              a(href='javascript:void(0)')
                img(src='/images/icon-star.png', alt='img')
                span Favorite
            li
              a(href='javascript:void(0)')
                span New
          .adtoListItemFrm
            input.adToInp(type='text', placeholder='list name')
            input.adToSub(type='button', value='Add')
        #rate-shop.ratingPopupMainCont
          .ratingShpImg
            img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
          .secTtle2 #{store.storeName}
          .ratingStarMainWrp
            select#example
              option(value='1') 1
              |   
              option(value='2') 2
              |   
              option(value='3') 3
              |   
              option(value='4') 4
              |   
              option(value='5') 5
          .ratingReviewFrm
            textarea.regBrndInpt(id="ratedes")
          .mt30.centSub
            input.frmSubBtn.giverate(type='button', value='Submit')
      .shopInfDireTimiWrap
        .shpInfTimings
          span
            //- strong Hours: Open
            //- |  . Closes 8PM
        //- .shpDireShpNwBtn
        //-   if store.buisnessOffline==true          
        //-     a.act_icn.icn_pin(href='https://www.google.com/maps/?q=#{store.address}', target="_blank")
        //-       span Get Direction
        //-       i
        //-   if store.buisnessOnline==true
        //-     a.act_icn.icn_cart(href="#{store.webAddress}", onclick="trackOutboundLink(#{store.webAddress}); return false;",rel="nofollow", target="_blank")
        //-       span Visit Website
        //-       i
    .shopBothBredCrumb.inrBredCrumbCont
      ul.bredCrumbWrp
        li
          a(href='/') Home
        li
          a(href='javascript:void(0)') #{store.storeName}
  //- .shopFeatCont.bg-gry
  //-   .centerAlign
  //-     ul.shpFeatList
  //-       li
  //-         i.redDot
  //-         span Cash on Delivery 
  //-       li
  //-         i.redDot
  //-         span Gift Wrap
  //-       li
  //-         i.redDot
  //-         span Customization Avaliable
  //-       li
  //-         i.grenDot
  //-         span Free Shipping
  //-       li
  //-         i.grenDot
  //-         span Credit/Debit Card Accepted
  .secPad.shopBothCatMainCont
    if storeCatalogs[0] !==undefined
      img.shpBothCatBg(src=global.config.variable.apiPath+'/#{storeCatalogs[0].catalogUrl}', alt='img')
    .centerAlign
      h2.secTtle CATALOUGE
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < lengthstoreCatalogs; x++)
            .swiper-slide.sclHov
              a(href='javascript:void(0);')
                img(src=global.config.variable.apiPath+'/#{storeCatalogs[x].catalogUrl}', alt='#{store.storeName}')    
if seoData.seodesc=="traveler's-home"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Travelers home
        p
          | Travelers Home is the brainchild of Ruchira Asnani. A space stylist from Nift Gandhinagar, she has extensively researched the spatial design and likes all her creations and collections to perfection. Travelers home as the names suggest, is a one-stop shop that accentuates a travelers expression to life through art. If you are are globetrotter or are simply fancied by the lands beyond the ocean then this store is the place for you. The store is dedicated to bring global lifestyle and decor in to one place. With their carefully selected products you can create an abode that gives out a global experience to our customers.
        p
          | Their offline store work to stimulate all senses by creating pleasing palettes gives solace to the discerning eye and mesmerizing aromas engulf you once you step into their space almost acts therapeutic to the body.
        p
          | If you would like to get tailored made gifts for weddings, corporate gifting or festive gestures, they have a myriad range of products. They believe in authenticity and quality over everything for their clientele and you will thus see only a line up of limited edition of articles in their store.
        p
        ul
          li Find:
          li Sculptures,
          li Wall Decor,
          li Lanterns,
          li Jars,
          li Crockery,
          li Cutlery,
          li Dessert Accessories, etc. 
        p
          | In times of indecisiveness, the display cleverly suggests products that should be juxtaposed together to enhance the look. Ruchira’s personal explorations and appreciation of space make this venture close to her heart, and add a special touch, which is evident in her work. You can find it at Mondeal Square on SG Highway.
        p
          | Price Range: 5,000 to 5,00,000 INR
            
if seoData.seodesc=="darshi-shah-bhavin-trivedi"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Darshi Shah and Bhavin Trivedi
        p
          | Darshi Shah and Bhavin Trivedi are one of the finest and most sought-after designers of the country. In 2010 the now famous designer duo came together to bring about their Fashion Label DSBT. One can get factory made, luxury attires, as well as tailor-made pieces since Prêt-à-Porter and Haute Couture, are both done at DSBT. They are loved for their Haute Couture because they dish out customization in all the designs, irrespective of the body types.
        p
          | They in real sense hold the flambeaux of the rich Indian heritage by creating royal pieces of Indian textile and fashion. Not only they master the ethnic and cultural fashion in contemporary ways but also bring out the best of both worlds by their Indo-Western collection. Their traditional collection bring to the spotlight the richness of Indian roots and their Indo-Western pieces are fine pieces of balance between the Oriental and the Occidental, stimulating the senses in the right, quirky way.  
        p
          | Their clientele is not boxed up in anyway with regards to socio-economic status, gender or age. Their collection is eclectic and garments with a tinge of abstraction always makes sense. Be it bridal-wear, trousseau, or just semi-formal occasion-wear, their silhouettes are glamorous.
        p
          | You can find these outfit types at DSBT:
        ul
          li Salwar kameez
          li Suits
          li Sarees
          li Lehengas
          li Shararas
          li Chaniya choli
          li Anarkalis
        p
          | DSBT’s design components are subtle and yet thematically sensible enough to impart class and individuality to the wearer. They can be found at 12-A, Sudarshan Bungalows, Near Mansi Towers, Vastrapur, Ahmedabad, Gujarat.
        p
          | Price Range: N/A

if seoData.seodesc=="tvak-designer-store"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Tvak designer store
        p
          | Tvak Designer Store is a multi-designer store that offers clothing from some of the best designers of our country. You can shop ethnic, indian, western and indo-western wear from here.
        p
          | An artist run studio for visual artists and other creative people. Photographers, Musicians, Writers and those working with new media. Tvak is 5 years old and organises exhibitions, conducts workshops and lectures and hosts both local and foreign artists who want to pursue their own art practice or research Indian indigenous arts. Tvak Multi Designer Studio customise the schedule for each of our artists and facilitate on their behalf.
        p
          | This design store is the creative product of Sukhi singh & Deviba Wala. You can find it at 27, Sunrise Park, Bodakdev, Ahmedabad, Gujarat 380054.
        p
          | Price Range: N/A

if seoData.seodesc=="kasheesh.k"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Kashees k
        p
          | Kasheesh K, is a stunning Indian fashion designer and couturier well versed in a wide scope of fashion disciplines. In the dawn of her career she had produced a lot of work under many well reputed fashion labels across Ahmedabad.
        p
          | Her specialised services in bespoke designer-jewellery, allied accessories, and foot-wear are very sought after. Her first fashion label was 'Zubaa, the fashion language.’
        p
          | Kasheesh’s mission is patron centric. To win their loyalty she perseveres to embrace first rate textile, employing industry’s talented human resources; persistently updating skills – technology to escalate and deliver excellence. Just what any fashion enthusiast expects for.

if seoData.seodesc=="purva-couture"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Purva couture
        p
          | Purva Couture is an exclusive fashion design boutique with happy clients from all around the world. Purva Couture specializes in Prêt-à-Porter wear, materializing the dream fashion for the patrons. She has made many brides more beautiful for their weddings, her gowns have lingering sensuality while retaining the grandeur of Indian ethnicity. A well balanced off beat poetry, are her pieces.
        p
          | Purva the founder of Purva Couture is Driven by a passion for ethnic elegance on the fashion freeway.  She has  showcased her work for quite a few stores. She has had a dedicated career with lush fabrics cut & embroideries, her work has made her associated with more than 25 associations till now. The head designer sticks to neat, crisp, simple and minimalistic approach for her collections and strives on Exclusively. Her work process and artistic integrity gives her clothes a global appeal yet passionately indian appeal.
        p
          | Price Range: 5,000 to 10,00,000 INR

if seoData.seodesc=="intelligent-idiots"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Intelligent idiots
        p
          | Intelligent Idiots is one of a kind accessories and stationery store. All the merchandise and collections are curated by the brand itself. It is one of its kind. If you are looking for something quirky, different, something that stands out from the rest Intelligent Idiots is the place for you. There designs follow an urbanesque thing. Their curated niche  products reflect their maximum efforts in the concept and craftsmanship of the products. The products are printed, doodled, they show finest of graphic design and their color blocked items are certainly eye popping.
        p
          | Intelligent Idiots make everyday products non-boring, every product of theirs with its color and graphics has a story to tell. The picturesque articles are gawk-worthy, and they surely will add an undertone of excitement and color to your life. Not only for yourself these products are the best for being gifted you’ll surely find something that matches the personality of the person you are buying the gift for. It’s cost effective range attracts people all the more.
        p
          | You can find here products for people of any age. Here’s what all they do offer:
        ul
          li Badges,
          li Bags,
          li Bow-tie,
          li Boxes,
          li Chai Glasses,
          li Clocks,
          li Cushion Diaries,
          li Eye Mask & Travel Pillow,
          li Footwear,
          li Frames,
          li Games,
          li Key chains,
          li Luggage Tags,
          li Magnets,
          li Mugs,
          li Passport Holders,
          li Pillow Covers,
          li Posters,
          li Posters,
          li Shot Glasses,
          li Tea Coasters,
          li Trays,
          li Waistcoats,
          li Wallets, and many more
        p
        p
          | Price Range: 500 to 1,500 INR

if seoData.seodesc=="zinzuwadia-jewellers"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Zinzuwadia jewellers
        p
          | Zinzuwadia Jewellers  A Vinod Zinzuwadia Establishment, Jeweller since 1969 is a renowned jewelry retail brand based out in Ahmedabad, Gujarat, India. It came into existence in the year 1969 as an ambitious family collective After its curation the brand has only grown. Its commerce has spread across the western and southern provinces of India in forty years.
        p
          | Zinzuwadia has been in a hereditary long pursuit of manufacturing Yellow Metal Jewellery, and eventually as  generation passed they learned and mastered the traditional art form of Kundan, Jadtar, etc.
        p
          | They now alongside volume operations, adopting forward retail trade practices in its hometown they own a retail brand showroom with a wide range of Jewellery in Gold, Diamond, and Platinum. They are situated amongst the busiest fashion stretch. Zinzuwadia’s this, most sophisticated a la retail showroom is well fitted with all modern amenities extending Today, well framed – patron centric retail policies and structured operations govern Zinzuwadia’s retail commerce. They supply the best of niche crafted high-end ornaments of diamond, precious gemstones, and platinum too for all ceremonies and celebrations. They provide Pret-a-Porter and Bespoke Jewellry. They further secure their patrons by showcasing and marketing exclusive 916 Hallmark Certified Jewellery art inventory.
        p
          | Price Range: N/A

if seoData.seodesc=="the-shoe-tales"
  section
    .secPad.aboutShop
      .centerAlign
        h3 The shoe tales
        p
          | The Shoe Tales run on the idea of curating your shoes and materializing your dreams. Has this ever happened to you that you have a pair of shoes imagined in your head but frustratingly you never could find the design, and you had to settle for something else? This brand relates to that and know it is frustrating. So with them that ends, they get you tailored-for-you footwear just the way you would want. From material type to details they will do things just the way you want.
        p
          | In their stores you can find Kolhapuris with faux leather (We are PETA  Supporters). Jazzy Punjabi juttis with tinkling sound of ghoonghroos. Vibrant colours, neat curves, with utmost concern given to the quality. The neon shades and quirky designs are loved by the youth.
        p
          | And for the more traditional and contemporary people, they have gotten the Kohlapuri wedges (it is a must have for the short girls) that can make you stand out and stand tall in the crowd. At their store you can get the embroidered juttis for wedding occasions, also the floral ones that go great with western outfits. Thus you can find the best of both worlds there.
        p
          | Here’s what else you can get your feet on:
        ul
          li Mules 
          li Slipons
          li Loafers
          li Flatforms
          li Peep Toes and
          li Kohlapuri Heels
        p
          | You can find them here NILESH BUNGALOWS, Uganda Society(INDEPENDENT BUNGALOWS, SUBHASH CHOWK,BEHIND A-1 SCHOOL, GURUKUL, Memnagar, Ahmedabad, Gujarat 380052.
        p
        p
          | Price Range: 2,000 to 4,000 INR 

if seoData.seodesc=="sivi"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Sivi the bespoke boutique
        p
          | Sivi the bespoke boutique as the title suggest is a bespoke boutique, any woman can get what you want the way you want through them. Their main focus is giving the customers best bespoke experience. At Sivi women will find an extravagant range of products varying from Suits, Kurtis, Bandhanies and everything else one needs to satiate their fashion hunger.
        p
          | Sivi believes in giving to the customer what they actually need, and would suit their body and personality to perfection. They do not believe in bulk manufacturing to standard sized clothing.
        p
          | Sivi is meant for the women who want their personalities to shine through their clothing in a simple yet stylish way. Cost effective and elegant sivi is all a woman could ask for.
        p
          | You will find them at 3, 1st floor, Rivera Arcade, Near P. Tarachand, Prahladnagar.
        p
          | Price Range: N/A

if seoData.seodesc=="aryan's-designer-studio"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Aryan Designer store
        p
          | ARYAN'S is Ahmedabad's born and based, Fashion Boutique. ARYAN'S by Sujata Agrawal is a Designer store was curated and is currently based in Ahmedabad. This Fashion Label was founded by Sujata Agrawal. ARYAN'S is built on the ethos to create clothes that are both luxurious and wearable. They are very feminine but have an unfussy look about it. The designs are especially sophisticated: modern but never meaningless, abstract but rational, refined yet sensual. with exceptional fabrics and highly perfected detail they have won many hearts. Choose from a plethora of fine fashion articles like :
        ul
          li Indo western gowns
          li Bridal-wear
          li Dresses and
          li Ethnic kurtis
        p
          | ARYAN'S long-term vision it to develop itself as a luxury brand of unparalleled quality. Find this store on SG highway, Near Rajpath Club.
        p
          | Price Range: 2,000 to 90,000 INR

if seoData.seodesc=="studio-scarlet"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Studio Scarlet
        p
          | Studio Scarlet is a dedicated space for people with higher space sensitivity and design sense. A high-end boutique store for designing and decorating the interiors and exteriors of your abode. Studio Scarlet has been crafted and curated with passion and it also cashes onto the passion of the people.
        p
          | Studio Scarlet is the place for you if you have a taste for timeless articles and ultra modern pieces for your interior spaces. This studio proffers an assortment of fashionable home accessories that resonate the seven seas in them. The curators of this studio are always on the hunt for thoughtful, intriguing combinations of color, texture, and history for their patrons. Studio Scarlet prides in escorting them through the journey of art and self-expression, by allowing them the opportunity to pick eclectic, regionally diverse and high 
          quality products into their homes.
        p
          | They not only house home decor products to embellish your space but also bespoke sarees, tailor made for patrons. In all, they allow you to express yourself in yet another way.
        p
          | You can find the following crafted to perfection articles at the Scarlet Studio:
        ul
          li Candle
          li Candle Stands
          li Lights
          li Sculptures
          li Canvas Paintings
          li Fountains
          li Trays
          li Coasters
          li Pichwais
          li Vases
          li Indoor Furniture
          li Sarees
          li Chaniya Cholis
          li Dress Dupattas
          li Crockery - Tea Sets, etc…
        p
          | Price Range: N/A
        p
          | If you want to embellish your home and your wardrobe as well with high-end products that nourish within them the taste of the land and beyond the ocean visit them at 414, Bodakdev, Opp. CEE, Ahmedabad, India 380054.

if seoData.seodesc=="satya-paul"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Satya Paul
        p
          | Satya Paul introduced the idea of tailored for individual sarees, this was back in 1985 when people where not very open to the idea of experimenting with attire, especially with women’s wear. Satya Paul quickly became India’s premier design label with an international presence, with their ingenuity in design and a vivid color palette.
        p
          | This exclusive showroom has it’s showrooms in over 35 places across the continent. Their core design fundamental is print, their print innovations and use of vivid color palettes did not only not only change the way the consumer previously looked at Sarees, but also developed a specific niche for concept-based designs. Their designs and creations have awed thousands of customers through out all these years. They  now house men’s fashion and accessories too like ties, cufflinks, suits, etc.
        p
          | You can find the following at their stores:
        ul
          li Printed Sarees
          li Embellished Sarees
          li Bridal Sarees
          li Bridal Lehengas
          li Tunics
          li Kurtas
          li Churidaars
          li Handbags
          li Stoles
          li Scarves
          li Clutches
          li Wallets
          li Cufflinks
          li Pocket Squares
          li Neck Ties
        p
          | Price Range: 2,500 to 35,000 INR
        p
          | Find your nearest stores and give your wardrobe a makeover here.

if seoData.seodesc=="aamod"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Aamod
        p
          | aāmod, a venture from Twinkle Vachheta offers an exceptional collection of designer cloths and exclusive accessories having immense handwork and expert hand loom arts.

if seoData.seodesc=="bandhej"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Bandhej
        p
          | Bandhej came into existence by the efforts and vision of Archana Shah an NID alum. Bandhej mushroomed with the  vision to uphold, preserve and sustain the traditions of the Indian continent. India has a precious culture of hand made article. Through promoting hand 
          made fashion pieces Bandhej helps to retain the inherent knowledge of the indigenous artisans through their handloom clothes. Bandhej through collaborative design interventions embetters the standard of handloom clothes. Offering a range of eco friendly, handmade fashion clothing with a specialisation in bandhani clothes for women, Bandhej has created a distinct and unique identity for itself. The brand reflects tradition, innovation, simplicity and sophistication.
        p
          | Bandhej is a label for a multicultural woman; that focuses on organic craftsmanship that curates apparels for her love for indigenous handmade clothes to her contemporary lifestyle & complements her strong sense of self and style.
        p
          | They offer a plethora of fashion pieces with incredible Eastern sensibility like:
        ul
          li Pants
          li Kurtas
          li Kurtis
          li Kaftans
          li flowing Skirts
          li Ghagras
          li Stoles
          li Dupattas, and
          li Sarees
        p
          | Price Range: 5000 to 30,000 INR
        p
          | Find them here: Shop No.1, Basement Shree Krishna Center, Near Mithakhali Six Road, Ahmedabad, Gujarat 380009

if seoData.seodesc=="elan-the-fashion-store"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Elan – the fashion store
        p
          | Elan – the fashion store is curated by Roopal Shodhan. A luxury multi designer store, with carefuly picked and curated collections  It runs on the philosophy of culminating good aesthetics, eclectic styling and great client servicing. This luxury fashion store houses more than 50 well known Indian designers,
        p
          | Elan houses the top, most demanded fashion designer brands. They have the best designers from across the Indian Continent. They have an active online presence and deliver fashion dresses and accessories world wide. You can get your hands on the following designers at Elan
        ul
          li AM:PM
          li Astha Narang
          li Debyani and Co.
          li Joy Mitra
          li Just Jewellery
          li Khadizeh
          li Loka
          li Matsya
          li Mrunalini Rao
          li Myoho
          li Pratima Pandey
          li Sabyasachi
          li Siddharth Bansal
          li Swati Vijaivargie,
          li Vrisa
          li Shasha Gaba, etc
        p
          | You can also get custom made bespoke gowns, suits and all fashion clothes with Elan, giving you the best of Prete-e-Porter and Bespoke experience.
        p
          | Choose from:
        ul
          li Dresses
          li Kurtas
          li Lehengas
          li Bracelets
          li Necklaces
          li Sets, and many more…
        p
          | Price Range: 5,400 to 15,5100 INR
        p
          | Find the store at Hill Plaza, Opp Sears Towers, Gulbai Tekra, Ahmedabad, Gujarat.

if seoData.seodesc=="pahenava-by-purvi"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Pahenava by Purvi
        p
          | Pehnava by Purvi presents as an entire collection of women's wear where you can find lots of variety in ethnic wear, traditional wear, chaniya choli ,gowns and heavy lehenga. The detailed traditional clothing is what all you need to flaunt effortlessly.
          
if seoData.seodesc=="be-womaniya"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Be Womaniya
        p
          | This brand is one of our designer accessories providers. Their shop houses all the kinds of purses one would need. You name the material, you name the design and they will have it. Be Womaniya was established on 2014 and has been growing since. Their clientele is from all the socio-economic classes thanks for their cost-effective nature and the assortment of designer accessories they provide. They keep the fashion and function in the right balance. They have multiple stores across the city of Ahmedabad. Here is what you can find in their stores:
        ul
          li Purses
          li Clutches
          li Tote Bags
          li Shoulder Bags
          li Cross Body Bags
          li Wristlets
          li Hobo Bags
          li Satchels
          li Evening Bags, and many more…
        p
          | Price Range: N/A
        p
          | You can find them at Surya Complex, Gurukul Road, Nilmani Society, Memnagar, Ahmedabad, Gujarat 380052.

if seoData.seodesc=="options"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Options
        p
          | Options is a one stop solution for your interior and exterior needs, and your fashion needs. If you’ve walked into a store and wanted to buy almost everything. They have one of the best designed stores in Ahmedabad. A burst of vibrant colours and designs charms you as soon 
          as you step into the space. The place is a sea of artifacts, lavish furnishings, funky fabric chairs, studio pottery, vibrant vases and quirky lamps. The founder, Janki Patel wanted every patron visiting her boutique to go on a journey of exploring everything that is beautiful.
        p
          | Options as the name suggest gives you an assortment of articles from the best of home decor and clothing brands handpicked by Janki like:
        ul
          li Nur
          li October
          li Shades of India
          li Translate
          li Yamini
          li Apartment 9
          li Crow
          li Soham Dave
          li Tulsi
        p
          | From pots to show bottles and vases every article tells a story through its  aesthetics and especially the colour palate, making it rather difficult for even a design professional to make a choice.
        p
          | Get your hands on:
        ul
          li Accessories
          li Furniture
          li Lights
          li Artifacts
          li Soft Furnishing
        p
          | Get a vivid experience touring their physical space near Amaltas Bungalow, Sunrise Park, Gurukul, Ahmedabad, Gujarat 380054.

if seoData.seodesc=="siddhesh-chauhan"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Siddhesh Chauhan
        p
          | Sidhesh Chauhan, the head of design and executive director of Jade Blue has his own brand that goes on the ideology of balance, since the founder says there are contradictions everywhere. He is a Nift alumni and did is further studies from University of Arts, London. He is an artist and puts his soul in all his creations. A visit to his store is truly a mesmerizing experience.
        p
          | Find the following in his brand:
        ul
          li Gowns
          li Dresses
          li Kurtas
          li Jodhpuris
          li Sherwani and Achkans

if seoData.seodesc=="seasons"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Seasons
        p
          | Seasons has been around for two years now curating sarees, tailored-garments and printed modern day clothing. They celebrate the rich heritage of handmade Indian with natural fibre fabrics printed with traditional motifs, patterns and imagery.
        p
          | Their craftspersons are commissioned from different parts of the continent for their expertise. Some of these include Kalamkari from Andhra Pradesh, vegetable dye printing from Bagh in Madhya Pradesh, delicately woven Chanderi and Maheshwari fabrics, Dhabu-printing from Kachchh, colourful ikats from Orissa, bandhani, lehriya and block-prints from Rajasthan, and so on. Not only do they focus on the contemporary but also modern day fashion wearables.
        p
          | They believe in the concept of ‘open wardrobe’ that is all their fashion articles can be mismatched and worn. The brand mainly targets girls and women, but has a little something for the boys as well.
        p
          | Hurry up to a Season’s store to get you hand of some of these:

        ul
          li Sarees
          li Dupattas
          li Stoles, and
          li Readymades

        p
          | Price Range: N/A
        p
          | Find them here: Shop No.6,Shivalik Arcade, 100 FT Anandnagar Road, Nr. HDFC Bank, Prahladnagar, Ahmedabad, Gujarat 380015

if seoData.seodesc=="foram's-fashion-story"
  section
      .secPad.aboutShop
        .centerAlign
          h3 Foram's Fashion Story
          p
            | With 15 years of experience, Foram does the magic with various fabrics and colors and creates beautiful attires
            for Kids and Women. The Color Palette is their most powerful point in clothing. Foram believes, that playing around with interesting color combinations adds creativity to the garment.
          p
            | They have indo-western, western and ethnic clothing for everyone out there! They offer tailored pieces to the audience to carry their individuality gracefully. The Color Palette is their most powerful point in clothing. Foram believes, that playing around with interesting color combinations adds creativity to the garment.
          p
            | Find this store at 16, Hatheesingh Park, Ramdevnagar Road,
          p
            | Opp. Courtyard Marriott lane, Ramdev Nagar,
          p
            | Ahmedabad, Gujarat 380015

if seoData.seodesc=="studio-virtues"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Studio Virtues
        p
          | Studio Virtues is one of its kind fashion boutique. Ashish & Viral Parikh of Ahmedabad launched this label in the year 2003. This label is retailed at selected designer stores across the globe. The label symbolizes the fusion of heritage and urban fashion. These designer duo has been the only designers to showcase at the country’s premier fashion platforms from Gujarat.
        p
          | Studio Virtues has managed to carry further the country’s rich heritage of Kalamkaris, Ashavallis, Kota, Mashru, Bagru prints, homegrown Indigo and many more with these excellent craftsmanship, cultural finesse and obsession with design perfection. They specializes in vintage embroideries and have constantly working to grow vertically with their designs in the fashion industry.
        p
          | Studio Virtues has showcased at the grand fashion podiums like Miami International Fashion Week and London Premier India Fashion Week.
        p
          | Find these at Studio Virtues
        ul
          li Anarkalis
          li Umraos
          li Madhubanis
          li Kurtas
          li Waistcoats
          li Kurtis
          li Tunics
          li Bridal Collection and many more...
        p
          | Price Range: 5,000 to 1,00,000 INR 
        p
          | Studio Virtues are located at Ashish Bungalow, Dr. V S Road, Nr. Panjrapole Cross Roads, Behind Antriksh Building, Ahmedabad, Gujarat 380015.

if seoData.seodesc=="aurus-jewels"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Aurus Jewels
        p
          | Aurus Jewels is a Brainchild of designer Puja Shah that creates exquisite jewellery. This brand’s prime focus is on design sensibility within a boutique set-up, that helps in creating jewellery buying experience very personal. Aurus creates a fine balance between simplicity and elegance to design jewellery that is classic and ageless. With extraordinary standards of workmanship, the use of the finest jewels is what makes Aurus stand out. Aurus finds solace in serving customers that seek quality and authenticity.
        p
          | Along with getting customized jewellery you can get your hands on Puja’s timeless articles like
        ul
          li Necklaces
          li Earrings
          li Chokers, etc..
        p
          | Price Range: N/A
        p
          | Find Aurus at 218, Sushil Park, Vastrapur.

if seoData.seodesc=="mortantra"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Mortantra
        p
          | This is one of the most sought after designer jewellery shop in Ahmedabad. This brand strikes the right balance between simplicity and elegance. The brands jewellery pieces are like a art pieces as each one of the them is built with a thought process. Fine craftsmanship and precision to detail is what makes their pieces a real classic and timeless.
        p
          | This brand has been featured in Top Wedding Magazines & Blogs as one of the 'Best Upcoming Brand'. They specialize in Handcrafted Bridal, Kundan and Meenakari Jewellery. The brand has served more than 1000 happy customers in the past year including 250+ brides globally.
        p
          | Jewellery Types:
        ul
          li bridal jewellery
          li traditional jewellery
          li kundan jewellery
          li meenakari jewellery
          li royal jewellery and many more...
        p
          | Price Range: N/A
        p
          | Find the store at 9 GF, Aarsh Complex, Besides Ratnakar-2, Prernatirth Derasar Rd, Satellite, Jodhpur, Ahmedabad, Gujarat 380015.
if seoData.seodesc=="eshyl"
  section
    .secPad.aboutShop
      .centerAlign
        h3 Eshyl
        p
          | A Silver Jewellery Company started by Daivik Kansaral creates lifestyle designer jewellery pieces not for the masses but the classes. Daivik, the director of the company comes from a family that is in gold and silver business since 90 years. He knew that branded segment for silver was untouched, his object was to fill this gap.
        p
          | Eshyl prides in promoting Sterling Silver which is the purest kind of Silver that can be used to make ornaments.
        p
          | You can find the best ornate, precious gem studded rings at 14, Supermall, Near Lal Bungalow, C.G.Road, 
          Ahmedabad – 380 006
        p
          | Price Range: N/A

.secPad.shopBothReviewMainCont
  .centerAlign
    ul.reviewMainCont
      - for (var x = 0; x < reviewslength; x++)
        li
          .reviewAuthWrp
            if reviews[x].userId && reviews[x].userId.userImage
              img(src=global.config.variable.apiPath+'/#{reviews[x].userId.userImage}', alt='img')
            else
              img(src="/images/user_profile.png", alt='img')
            if reviews[x].userId
              span #{reviews[x].userId.name}
            else
              span Zeepzoop User
          .reviewStarWrap
            .reviewStarRatings
              select(class="staterate")
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
              script(type='text/javascript').
                $('.staterate').barrating({theme:'css-stars',readonly: true,initialRating:'#{reviews[x].ratingScale}'})
          .secDesc
            p
              | #{reviews[x].description}
    .mt30
      // a.defBtn(href='#') See All Reviews

include common/footer
script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb3426196915581')
script.
  var trackOutboundLink = function(e) {
    var url='#{store.webAddress}'
    window
    ga('send', 'event', 'outbound', 'click', url, {
      'transport': 'beacon',
      'hitCallback': function(){document.location = url;}
    });
  }
  $(document).ready(function(e) {
    var urate={}
    $('#example').barrating({
      theme: 'css-stars',
      initialRating: -1,
      onSelect: function(value, text, event) {
        if (typeof(event) !== 'undefined') {
          urate.ratingScale=value;          
        } else {
            console.log("rate is not given yet")
        }
      }
    });

    var txt= $('#strdesc').text();
    if(txt.length > 155)
    $('#strdesc').text(txt.substring(0,150) + '.....');

    $('#readmore').click(function(e){
      $('#strdesc').text(txt.substring(0,txt.length));
      $(this).hide();
    });
    $('.giverate').click(function(e){
      if(localStorage.getItem('UserTo')!==null&&localStorage.getItem('userD')!==null&&localStorage.getItem('userName')!==null){
        if($('#ratedes').val()!==''||$('#ratedes').val()!==null){
          urate.description=$('#ratedes').val();
          urate.storeId='#{store._id}';
          urate.userId=localStorage.getItem('userD');
          var token=localStorage.getItem('UserTo');
          
          var request = $.ajax({
            headers: {
                'Authorization': "JWT "+ token,
                'Content-Type': "application/json;charset=UTF-8"
            },
            type: "POST",
            url: "https://api.zeepzoop.com/reviews/",
            data: JSON.stringify(urate),
            dataType: "json"
          });

          request.done(function(response) {
              window.location.reload();
          }); 
          request.fail(function(jqXHR, textStatus) {
              alert("Request failed: " + textStatus);
          });
        }else{
          alert("please Enter Description")
        }
      }else{
        alert("You Have To Login First");
      }
    });
  })
  var newlyAddSwiper = new Swiper('.shopBothCatMainCont .swiper-container', {
  loop: true,
  slidesPerView: 5,
  spaceBetween: 50,
  slidesPerGroup: 1,
  effect: 'coverflow',
  slideToClickedSlide: true,
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: 'auto',
  autoplay: {
  delay: 4000,
  disableOnInteraction: false,
  },
  coverflowEffect: {
  rotate: 0,
  stretch: 0,
  depth: 70,
  modifier: 3,
  slideShadows: true,
  },
  breakpoints: {
  600: {
  spaceBetween: 20
  }
  }
  });