include common/head

meta(name='ROBOTS', content='NOINDEX, NOFOLLOW')

.bnrMainCont.bnrBgOlay
  .bnrBg(style='background-image: url('+global.config.variable.apiPath+'/#{blog.bannerImage}'+');')
  .blgInrMainTtleWrp
    .centerAlign
      h1.blgIntTtle #{blog.title}
      .blgLstFtrWrp.blgInrTtleFtrWrp
        a.blgLstAuthInfWrap(href='#author-hetal-shah', data-fancybox='')
          if blog.userId
            img.blgLstAuthImg(src=global.config.variable.apiPath+'/'+'#{blog.userId.userImage}', alt='img')
          .blgLstAuthInf
            if blog.userId
              div #{blog.userId.name}
            div #{time}
        #author-hetal-shah.authorPopupMainWrap
          img(src='/images/auther-popup-img.png', alt='img')
          .authPopupInfWrap
            .authPopupImg
              if blog.userId
                img(src=global.config.variable.apiPath+'/'+'#{blog.userId.userImage}', alt='img')
            if blog.userId
              .secTtle #{blog.userId.name}
            if blog.userId
              a.defBtn(href='/profile/'+ '#{blog.userId._id}') Read More
section.blgInrPostMainCont.secPad
  .centerAlign
    .blgPostMainCont.secDesc.secDescx2
      if subtitle
        - for(var x=0;x<subtitle.length;x++)
          br
          .secDesc
            h2
              | #{subtitle[x].title}
          .secDesc
            p
              | #{subtitle[x].description}
          br
          if subtitle[x].image[0]
            p
              img(src=global.config.variable.apiPath+'/'+'#{subtitle[x].image[0]}', alt='img')
          if subtitle[x].image[1]
            p
              img(src=global.config.variable.apiPath+'/'+'#{subtitle[x].image[1]}', alt='img')
          if subtitle[x].image[2]
            p
              img(src=global.config.variable.apiPath+'/'+'#{subtitle[x].image[2]}', alt='img')
          if subtitle[x].image[3]
            p
              img(src=global.config.variable.apiPath+'/'+'#{subtitle[x].image[3]}', alt='img')
    .blgInrSidebarWrap
      .blgSideLble Recommended
      - for(var x=2;x<catBlogLength;x++)
        .blgInrSidebarBlck
          a.sclHov.blgLstImg(href="/story"+"/#{catBlog[x]._id}")
            img(src=global.config.variable.apiPath+'/'+'#{catBlog[x].bannerImage}', alt='img')
          .blgLstInfWrp
            a.blgLstTtle(href="/story"+"/#{catBlog[x]._id}") #{catBlog[x].title}
            .blgLstFtrWrp
              .blgLstAuthInfWrap
                img.blgLstAuthImg(src=global.config.variable.apiPath+'/'+'#{catBlog[x].userId.userImage}', alt='img')
                .blgLstAuthInf
                  div #{catBlog[x].userId.name}
                  div #{catBlog[x].time}
      if catBlog[1]
        .blgInrSidebarBlck.pined
          a.sclHov.blgLstImg(href="/story"+"/#{catBlog[1]._id}")
              img(src=global.config.variable.apiPath+'/'+'#{catBlog[1].bannerImage}', alt='img')
            .blgLstInfWrp
              a.blgLstTtle(href="/story"+"/#{catBlog[1]._id}") #{catBlog[1].title}
              .blgLstFtrWrp
                .blgLstAuthInfWrap
                  img.blgLstAuthImg(src=global.config.variable.apiPath+'/'+'#{catBlog[1].userId.userImage}', alt='img')
                  .blgLstAuthInf
                    div #{catBlog[1].userId.name}
                    div #{catBlog[1].time}

include common/footer
script(src='/js/Sticky-kit.v1.1.3.js')
script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb3426196915581')
script.
  $(window).load(function(e) {
  if (winWid > 768) {  
  $(".pined").stick_in_parent({
  offset_top: 80,
  parent: '.blgInrPostMainCont'
  });
  }
  });
