include common/head

.bnrMainCont.bnrBgOlay
  .bnrBg.sizCover(style='background-image: url('+global.config.variable.apiPath+'/#{store.storeBanner}'+')')
  .shopRatingMainWrp
    .centerAlign
      a.shopRate(href='#rate-shop', data-fancybox='')
        strong #{store.avgRating}
        span #{store.reviewCount} Votes
section.shopBothInfPgeMainCont
  .centerAlign
    .shopInfoMainCont
      a.shopProfilPicMainWrp(data-fancybox='', href=global.config.variable.apiPath+'/#{store.storeLogo}')
        img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
      .shopInfWrap
        h1.shpTtle.posRel
          | #{store.storeName}
          //- img.icnVerified(src='/images/icon-verified.svg', alt='img')
        .shopAdres #{store.address}
        .secDesc
          p
            | #{store.storeDiscription}
        ul.shopInfoActBtnWrp
          li
            a.act_icn.icn_call(href='tel:#{store.storePhone}')
              i
            span Call
          li
            a.act_icn.icn_bokMark(href='javascript:void(0)')
              i
            span Bookmark
          li
            //- a.act_icn.icn_list(data-fancybox='', href='#addToList')
            a.act_icn.icn_list(href='javascript:void(0)')
              i
            span Add to List
          li
            a.act_icn.icn_rate(data-fancybox='', href='#rate-shop')
              i
            span Rate
          li
            a.act_icn.icn_shre(href='javascript:void(0)')
              i
            span Share
        #addToList.addToListMainCont
          .secTtle2 Add to List
          ul.addToListWrap
            li
              a(href='javascript:void(0)')
                img(src='/images/icon-star.png', alt='img')
                span Favorite
            li
              a(href='javascript:void(0)')
                span New
          .adtoListItemFrm
            input.adToInp(type='text', placeholder='list name')
            input.adToSub(type='button', value='Add')
        #rate-shop.ratingPopupMainCont
          .ratingShpImg
            img(src=global.config.variable.apiPath+'/#{store.storeLogo}', alt='img')
          .secTtle2 #{store.storeName}
          .ratingStarMainWrp
            select#example
              option(value='1') 1
              |   
              option(value='2') 2
              |   
              option(value='3') 3
              |   
              option(value='4') 4
              |   
              option(value='5') 5
          .ratingReviewFrm
            textarea.regBrndInpt(id="ratedes")
          .mt30.centSub
            input.frmSubBtn.giverate(type='button', value='Submit')
      .shopInfDireTimiWrap
        .shpInfTimings
          span
            //- strong Hours: Open
            //- |  . Closes 8PM
        .shpDireShpNwBtn
          if store.buisnessOffline==true          
            a.act_icn.icn_pin(href='https://www.google.com/maps/?q=#{store.address}', target="_blank")
              span Get Direction
              i
          if store.buisnessOnline==true
            a.act_icn.icn_cart(href="#{store.webAddress}", onclick="trackOutboundLink(#{store.webAddress}); return false;",rel="nofollow", target="_blank")
              span Visit Website
              i
    .shopBothBredCrumb.inrBredCrumbCont
      ul.bredCrumbWrp
        li
          a(href='/') Home
        li
          a(href='javascript:void(0)') #{store.storeName}
  //- .shopFeatCont.bg-gry
  //-   .centerAlign
  //-     ul.shpFeatList
  //-       li
  //-         i.redDot
  //-         span Cash on Delivery 
  //-       li
  //-         i.redDot
  //-         span Gift Wrap
  //-       li
  //-         i.redDot
  //-         span Customization Avaliable
  //-       li
  //-         i.grenDot
  //-         span Free Shipping
  //-       li
  //-         i.grenDot
  //-         span Credit/Debit Card Accepted
  .secPad.shopBothCatMainCont
    if storeCatalogs[0] !==undefined
      img.shpBothCatBg(src=global.config.variable.apiPath+'/#{storeCatalogs[0].catalogUrl}', alt='img')
    .centerAlign
      h2.secTtle CATALOUGE
      .swiper-container
        .swiper-wrapper
          - for (var x = 0; x < lengthstoreCatalogs; x++)
            .swiper-slide.sclHov
              a(href='javascript:void(0);')
                img(src=global.config.variable.apiPath+'/#{storeCatalogs[x].catalogUrl}', alt='#{store.storeName}')          
.secPad.shopBothReviewMainCont
  .centerAlign
    ul.reviewMainCont
      - for (var x = 0; x < reviewslength; x++)
        li
          .reviewAuthWrp
            if reviews[x].userId.userImage!=''
              img(src=global.config.variable.apiPath+'/#{reviews[x].userId.userImage}', alt='img')
            else
              span.reviewpic
            if reviews[x].userId
              span #{reviews[x].userId.name}
            else
              span Zeepzoop User
          .reviewStarWrap
            .reviewStarRatings
              select(class="staterate")
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
              script(type='text/javascript').
                $('.staterate').barrating({theme:'css-stars',readonly: true,initialRating:'#{reviews[x].ratingScale}'})
          .secDesc
            p
              | #{reviews[x].description}
    .mt30
      // a.defBtn(href='#') See All Reviews

include common/footer
script.
  var trackOutboundLink = function(e) {
    var url='#{store.webAddress}'
    window
    ga('send', 'event', 'outbound', 'click', url, {
      'transport': 'beacon',
      'hitCallback': function(){document.location = url;}
    });
  }
  $(document).ready(function(e) {
    var urate={}
    $('#example').barrating({
      theme: 'css-stars',
      initialRating: -1,
      onSelect: function(value, text, event) {
        if (typeof(event) !== 'undefined') {
          urate.ratingScale=value;          
        } else {
            console.log("rate is not given yet")
        }
      }
    });

    $('.giverate').click(function(e){
      if(localStorage.getItem('UserTo')!==null&&localStorage.getItem('userD')!==null&&localStorage.getItem('userName')!==null){
        if($('#ratedes').val()!==''||$('#ratedes').val()!==null){
          urate.description=$('#ratedes').val();
          urate.storeId='#{store._id}';
          urate.userId=localStorage.getItem('userD');
          var token=localStorage.getItem('UserTo');
          
          var request = $.ajax({
            headers: {
                'Authorization': "JWT "+ token,
                'Content-Type': "application/json;charset=UTF-8"
            },
            type: "POST",
            url: "https://api.zeepzoop.com/reviews/",
            data: JSON.stringify(urate),
            dataType: "json"
          });

          request.done(function(response) {
              window.location.reload();
          }); 
          request.fail(function(jqXHR, textStatus) {
              alert("Request failed: " + textStatus);
          });
        }else{
          alert("please Enter Description")
        }
      }else{
        alert("You Have To Login First");
      }
    });
  })
  var newlyAddSwiper = new Swiper('.shopBothCatMainCont .swiper-container', {
  loop: true,
  slidesPerView: 5,
  spaceBetween: 50,
  slidesPerGroup: 1,
  effect: 'coverflow',
  slideToClickedSlide: true,
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: 'auto',
  autoplay: {
  delay: 4000,
  disableOnInteraction: false,
  },
  coverflowEffect: {
  rotate: 0,
  stretch: 0,
  depth: 70,
  modifier: 3,
  slideShadows: true,
  },
  breakpoints: {
  600: {
  spaceBetween: 20
  }
  }
  });