include common/head

meta(name='ROBOTS', content='NOINDEX, NOFOLLOW')

.hdrPlaceHolder
.secPad
  .centerAlign
    .bg-gry.profPicMainCont
      if userdata.userImage
        img(src=global.config.variable.apiPath+'/#{userdata.userImage}', alt='img')
      else
        img(src="/images/user_profile.png", alt='img')
      .secTtle #{userdata.name}
      input.frmSubBtn.usrSubBtn(type='button', value='Follow',style="margin-top: 55px;",onclick="window.open('https://play.google.com/store/apps/details?id=com.zeepzoop.user')")
    ul.editProfNavWrap
      //- li.edtProAct
      //-   a(href='#myProfile') My Profile
      //- li
      //-   a(href='#notification') Notifications
      li.edtProAct
        a(href='#bookmark') Bookmarks
      li
        a(href='#review') Reviews
      li
        a(href='#myList') My Lists
      li
        a(href='#blogs') Blogs
      //- li
      //-   a(href='#offers') Offers
    .editProfDataWrap
      //- #myProfile.editProfBlckWrp
      //-   .smlTtle PROFILE INFORMATIONS
      //-   form.editFormMainWrp
      //-     .edtPrfleImgWrp
      //-       input(type='file', name='')
      //-       img(src='/images/profile-pic.jpg', alt='img')
      //-       span.edtPrfleIcon
      //-     .edtFieldWrp
      //-       fieldset
      //-         label Your Name
      //-         input.edtInpt(type='text', placeholder='Nutankumar nk')
      //-       fieldset
      //-         label Your Email
      //-         input.edtInpt(type='mail', placeholder='nutan@zeepzoop.com')
      //-       fieldset
      //-         label Your Phone
      //-         input.edtInpt(type='text', placeholder='+91 99887 76644')
      //-       fieldset
      //-         label Your Password
      //-         input.edtInpt(type='password', placeholder='Nutankumar nk')
      //-     input.frmSubBtn(type='submit', name='')
      //- #notification.editProfBlckWrp
      //-   ul.notificMainWrap
      //-     li
      //-       img(src='/images/profile-noti-img.jpg', alt='img')
      //-       .secDesc
      //-         p
      //-           | Creative and modern examples of how businesses are starting to display their executive team. See more ideas about Design websites
      //-     li
      //-       img(src='/images/profile-noti-img.jpg', alt='img')
      //-       .secDesc
      //-         p
      //-           | Creative and modern examples of how businesses are starting to display their executive team. See more ideas about Design websites
      //-     li
      //-       img(src='/images/profile-noti-img.jpg', alt='img')
      //-       .secDesc
      //-         p
      //-           | Creative and modern examples of how businesses are starting to display their executive team. See more ideas about Design websites
      //-     li
      //-       img(src='/images/profile-noti-img.jpg', alt='img')
      //-       .secDesc
      //-         p
      //-           | Creative and modern examples of how businesses are starting to display their executive team. See more ideas about Design websites
      //-     li
      //-       img(src='/images/profile-noti-img.jpg', alt='img')
      //-       .secDesc
      //-         p
      //-           | Creative and modern examples of how businesses are starting to display their executive team. See more ideas about Design websites
      #bookmark.editProfBlckWrp
        ul.featShopMainCont.popularGridWrap
          - for (var x = 0; x < Usrbookmarklength; x++)
            li
              a.sclHov(href='/brand/#{Userbookmark[x].URL}')
                img(src=global.config.variable.apiPath+'/#{Userbookmark[x].storeBanner}', alt='img')
              .featShpInfWrp
                a.popGrdTtle(href='#') #{Userbookmark[x].storeName}
                .popGrdDesc #{Userbookmark[x].storeDiscription}
              .featShpRate #{Userbookmark[x].avgRating}
      #review.editProfBlckWrp
        ul.reviewMainCont
          - for (var x = 0; x < Userreviewlength; x++)
            li
              .reviewAuthWrp
                img(src=global.config.variable.apiPath+'/#{Userreview[x].storeId.storeLogo}', alt='img')
                span #{Userreview[x].storeId.storeName}
              .reviewStarWrap
                .reviewStarRatings
                  select(class="staterate")
                    option(value='1') 1
                    |   
                    option(value='2') 2
                    |   
                    option(value='3') 3
                    |   
                    option(value='4') 4
                    |   
                    option(value='5') 5
                  script(type='text/javascript').
                    $('.staterate').barrating({theme:'css-stars',readonly: true,initialRating:'#{Userreview[x].ratingScale}'})
              .secDesc
                p
                  | #{Userreview[x].description}
              //- a.act_icn.icn_msg(href='#')
              //-   i
              //- a.act_icn.icn_delete(href='#')
              //-   i
      #myList.editProfBlckWrp.mylistMainWrap
        if UserMylist.length>0
          .myLstLblTrig.myLstLblAct
            span #{UserMylist[0].listName}
          ul.featShopMainCont.popularGridWrap
            - for(var x=0;x<UserMylist[0].stores.length;x++)
              li
                a.sclHov(href='/brand/#{UserMylist[0].stores[x].URL}')
                  img(src=global.config.variable.apiPath+'/#{UserMylist[0].stores[x].storeBanner}', alt='img')
                .featShpInfWrp
                  a.popGrdTtle(href='/brand/#{UserMylist[0].stores[x].URL}') #{UserMylist[0].stores[x].storeName}
                  .popGrdDesc #{UserMylist[0].stores[x].storeDiscription}
                .featShpRate #{(UserMylist[0].stores[x].avgRating).toFixed(2)}
        - for(var x=1;x<UserMylistlength;x++)
          .myLstLblTrig
            span #{UserMylist[x].listName}
          ul.featShopMainCont.popularGridWrap
            - for(var j=0;j<UserMylist[x].stores.length;j++)
              li
                a.sclHov(href='/brand/#{UserMylist[x].stores[j].URL}')
                  img(src=global.config.variable.apiPath+'/#{UserMylist[x].stores[j].storeBanner}', alt='img')
                .featShpInfWrp
                  a.popGrdTtle(href='/brand/#{UserMylist[x].stores[j].URL}') #{UserMylist[x].stores[j].storeName}
                  .popGrdDesc #{UserMylist[x].stores[j].storeDiscription}
                  //- .featShpActBtn
                  //-   a.act_icn.icn_bokMark(href='#')
                  //-     i
                  //-   a.act_icn.icn_sharePst(href='#')
                  //-     i
                .featShpRate #{(UserMylist[x].stores[j].avgRating).toFixed(2)}
      #blogs.editProfBlckWrp
        - for(var x=0;x<UserBlogslength;x++)
          .editBlgSlde
            a.sclHov.blgLstImg(href='/blogs'+'/#{UserBlogs[x].URL}')
              img(src=global.config.variable.apiPath+'/#{UserBlogs[x].blogPicture}', alt='img')
            .blgLstInfWrp
              a.blgLstTtle(href='/blogs'+'/#{UserBlogs[x].URL}') #{UserBlogs[x].title}
              .secDesc
                p
                  | #{UserBlogs[x].metaDescription}
              .blgLstFtrWrp
                .blgLstAuthInfWrap
                  img.blgLstAuthImg(src=global.config.variable.apiPath+'/#{UserBlogs[x].authorImage}', alt='img')
                  .blgLstAuthInf
                    div #{UserBlogs[x].authorName}
                    div #{UserBlogs[x].time}
                // .blgLstActionBtns
                //   a.act_icn.icn_bokMark(href='#')
                //     i
                //   a.act_icn.icn_likeThmb(href='#')
                //     i
                //   a.act_icn.icn_sharePst(href='#')
                //     i
      #offers.editProfBlckWrp
        ul.editProfOfferMainCont
          li
            img(src='/images/edit-prfle-offer.jpg', alt='img')
            .edtProfOfferInf
              .edtProOferBnr FLAT 50%-80% OFF*
              .secDesc
                p
                  | However, if you're fed up seeing the faux Latin nonsense, we've found more than 30 placeholder text generators that offer ....
              .featShpActBtn
                a.act_icn.icn_bokMark(href='#')
                  i
                a.act_icn.icn_sharePst(href='#')
                  i
          li
            img(src='/images/edit-prfle-offer.jpg', alt='img')
            .edtProfOfferInf
              .edtProOferBnr FLAT 50%-80% OFF*
              .secDesc
                p
                  | However, if you're fed up seeing the faux Latin nonsense, we've found more than 30 placeholder text generators that offer ....
              .featShpActBtn
                a.act_icn.icn_bokMark(href='#')
                  i
                a.act_icn.icn_sharePst(href='#')
                  i
          li
            img(src='/images/edit-prfle-offer.jpg', alt='img')
            .edtProfOfferInf
              .edtProOferBnr FLAT 50%-80% OFF*
              .secDesc
                p
                  | However, if you're fed up seeing the faux Latin nonsense, we've found
                  | more than 30 placeholder text generators that offer ....
              .featShpActBtn
                a.act_icn.icn_bokMark(href='#')
                  i
                a.act_icn.icn_sharePst(href='#')
                  i
          li
            img(src='/images/edit-prfle-offer.jpg', alt='img')
            .edtProfOfferInf
              .edtProOferBnr FLAT 50%-80% OFF*
              .secDesc
                p
                  | However, if you're fed up seeing the faux Latin nonsense, we've found
                  | more than 30 placeholder text generators that offer ....
              .featShpActBtn
                a.act_icn.icn_bokMark(href='#')
                  i
                a.act_icn.icn_sharePst(href='#')
                  i

include common/footer

script.
  $('.editProfNavWrap li a').click(function(e) {
  e.preventDefault();
  var thsHash = $(this).attr('href');
  if ($(thsHash).is(':hidden')) {
  $('.edtProAct').removeClass('edtProAct');
  $(this).parent('li').addClass('edtProAct');
  $('.editProfBlckWrp').hide();
  $(thsHash).fadeIn(400)
  }
  })
  $('header').css("background-color","#b21a34")
  $('.mylistMainWrap .featShopMainCont').hide();
  $('.myLstLblAct + .featShopMainCont').show();
  $('.myLstLblTrig').click(function(e) {
  e.preventDefault();
  var thsNxt = $(this).next();
  if (thsNxt.is(':hidden')) {
  $(this).addClass('myLstLblAct');
  thsNxt.slideDown(400);
  } else {
  $(this).removeClass('myLstLblAct');
  thsNxt.stop().slideUp(400);
  }
  })