doctype html
html(lang='en')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0')
    meta(property='og:locale', content='en_US')
    meta(charset='utf-8')

    if seo==true
      title #{seoData.title}
      <meta name="google-site-verification" content="rD5rxrkDCG1kJkDXi-n3cUDlJzu3qO0hmVuSfBsz7GE" />
      meta(name='description', content='#{seoData.description}')
      meta(name='keywords', content='#{seoData.keywords}')

      meta(property='og:title', content='#{seoData.title}')
      meta(property='og:description', content='#{seoData.description}')
      meta(property='og:type', content='#{seoData.type}')
      meta(property='og:url', content='#{seoData.url}')
      meta(property='og:site_name', content='#{seoData.site}')
      meta(property='og:image', content='#{seoData.image}')
      meta(property='fb:pages', content='266063187234418')
      
      meta(name='twitter:card', content='summary')
      meta(name='twitter:description', content='#{seoData.description}')
      meta(name='twitter:title', content='#{seoData.title}')
      meta(name='twitter:site', content='@'+'#{seoData.site}')
      meta(name='twitter:domain', content='#{seoData.domain}')
      meta(name='twitter:image:src', content='#{seoData.image}')
      meta(name='twitter:creator', content='@'+'#{seoData.site}')
    else
      title #{title}

    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(type='text/css', href='/css/custom.css', rel='stylesheet')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118251424-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118251424-1');

    body(class=page) 
    .main
      .container
        a.logo(href='/')
          if page == "home-page" || page == "business"
            img(src='/images/logo.png')
          else
            img(src='/images/color-logo.png')
        if page == "home-page"
          .content
            h1 Your Shopping Unicorn
            p One-of-its-kind first shopping assistant App for the Exploring Shopper in you.
            .btn
              a(href='business') Claim Your Business
        else if page == "business"  
          .content
            <h1>Zeepzoop for Business</h1>   
        
