doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    meta(property='og:locale', content='en_US')
    if seo==true
      title #{seoData.title}
      <meta name="google-site-verification" content="rD5rxrkDCG1kJkDXi-n3cUDlJzu3qO0hmVuSfBsz7GE" />
      <meta name="p:domain_verify" content="91902f4712e6104ccddc22456d17e290"/>
      <meta name="google-signin-client_id" content="236831263233-2nn50m12rks8l1dt9ucnove3f55bibqq.apps.googleusercontent.com">
      <meta name="msvalidate.01" content="29493BED6A7DEE699CEA4890068B5077" />
      meta(name='description', content='#{seoData.description}')
      meta(name='keywords', content='#{seoData.keywords}')
      meta(property='og:title', content='#{seoData.title}')
      meta(property='og:description', content='#{seoData.description}')
      meta(property='og:type', content='#{seoData.type}')
      meta(property='og:url', content='#{seoData.url}')
      meta(property='og:site_name', content='#{seoData.site}')
      meta(property='og:image', content='#{seoData.image}')
      meta(property='fb:pages', content='266063187234418')
      meta(name='twitter:card', content='summary')
      link(rel='canonical', href='#{seoData.url}')
      meta(name='twitter:description', content='#{seoData.description}')
      meta(name='twitter:title', content='#{seoData.title}')
      meta(name='twitter:site', content='@'+'#{seoData.site}')
      meta(name='twitter:domain', content='#{seoData.domain}')
      meta(name='twitter:image:src', content='#{seoData.image}')
      meta(name='twitter:creator', content='@'+'#{seoData.site}')
    else
      title #{title}

    link(rel='icon', type='image/png', href='/images/favicon.png')    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700i%7COpen+Sans+Condensed:300,700', rel='stylesheet')    
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/styletemp.css', rel='stylesheet')
    link(href='/css/responsive.css', rel='stylesheet')
    link(href='/css/jquery.lib.style.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/css-stars.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/js/jquery.lib.min.js')
    script(src='/js/scripts.js')
    script(src='/js/custom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js')
    script(src="https://apis.google.com/js/platform.js", async="", defer="") 
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118251424-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118251424-1');
      var trackOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
            'transport': 'beacon',
            'hitCallback': function() { document.location = url; }
        });
      };
    script(type='application/ld+json').
      {
        "@context" : "http://schema.org",
        "@type": "Store",
        "name" : "Zeepzoop Incorporation LLP",
        "image" : "https://scontent.fbom19-2.fna.fbcdn.net/v/t1.0-1/p200x200/20953984_266175320556538_5392192289285258086_n.jpg?_nc_cat=110&_nc_ht=scontent.fbom19-2.fna&oh=10ddbca3dafc1931582ca9a80b796751&oe=5C736640",
        "@id" : "",
        "url" : "https://www.zeepzoop.com/",
        "telephone" : "096248 51199",
        "address" : {
          "@type": "PostalAddress",
          "streetAddress": "302, Saumya Square, Nr. Govardhan party plot, Thaltej",
          "addressLocality": "Ahmedabad",
          "postalCode": "380059",
          "addressCountry": "IN"
        },
        "priceRange" : "INR",
        "geo" : {
          "@type": "GeoCoordinates",
          "latitude": 23.04864,
          "longitude": 72.50860499999999
        },
        "openingHoursSpecification" : {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
          ],
          "opens": "10:00",
          "closes": "19:00"
        },
        "sameAs" : [
          "https://www.facebook.com/zeepzoopofficial/",
          "https://www.instagram.com/zeepzoopofficial/",
          "https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/",
          "https://in.pinterest.com/zeepzoopofficial/"
        ]
      }
  body(class=page)
    #fb-root
    script.
      window.fbAsyncInit = function() {
      FB.init({
      xfbml            : true,
      version          : 'v3.2'
      });
      };
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .fb-customerchat(attribution='setup_tool', page_id='266063187234418')
    .loginMainCont
      .logOlay
      .loginMainWrap
        .loginClose
        img.loginLogo(src='/images/logo-sml.png', alt='Logo')
        .loginTtle Sign in to get the best out of ZeepZoop
        .loginBtns
          span.errr(style="font-size: 13px;color: red;display: none;") Enter Your Phone
          input.frmInpt(type='text',id="phone",placeholder='Phone Number')
          input.frmInpt(type='text',id="otp",placeholder='OTP',style="display: none;")
          input.frmSubBtn.msbt.submit_phn(type='button', value='Submit')
          input.frmSubBtn.msbt.submit_otp(type='button', value='Submit',style="display: none;")
          //- a(id="FBlogin")
          //-   img(src='/images/icon-facebook.svg', alt='img')
          //-   span Sign in with Facebook
          //- .g-signin2(data-onsuccess="onSignIn")
        .loginNote
          | By continuing you agree to
          br
          a(href='javascript:void(0)') Terms & Conditions
    .mainSideNavCont
      .sideMenClose
      .sideNavTtleWrp
        span CATEGORIES
      .respSearchBar
        input.respSrchInp.myInput(type='text', placeholder='Type here to search...')
      nav.sideNavMainWrp
        ul
          li.categoryicon.curs
            a(name="Clothing",id="5a51e507ff645771bf57dc14")
              i.clthIcon
              span Clothing
          li.categoryicon.curs
            a(name="Jewellery",id="5a51e528ff645771bf57dc15")
              i.jwlIcon
              span Jewellery
          li.categoryicon.curs
            a(name="Accessories",id="5a51e544ff645771bf57dc16")
              i.accsIcon
              span Accessories
          li.categoryicon.curs
            a(name="Home-Decor",id="5a51e626ff645771bf57dc1a")
              i.decoIcon
              span Home Decor
      .respNavSubMenus
        ul
          li
            a(href='/zeepzoop-story') Our Story
          li
            a(href='/zeepzoop-team') Our Team
          li
            a(href='/partners') Partners
          li
            a(href='/bhavyamodi-founderceo') Meet The CEO
          //- li
          //-   a(href='join-z-force.html') Join Z-Force
          li
            a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user', target='_blank')
          li
            a(href='/register-your-brand') Register your brand
      .sideSocialIcns
        a.fbIcn(href='https://www.facebook.com/Zeepzoopofficial', target='_blank')
          i
        a.instIcn(href='https://www.instagram.com/zeepzoopofficial/', target='_blank')
          i
        a.ytIcn(href='https://mail.google.com/mail/?view=cm&fs=1&to=connect@zeepzoop.com',target="_blank")
          i
        a.phneIcn(href='tel:9624851199', target='_blank')
          i
        a.mailIcn(href="https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/videos?pbjreload=10", target='_blank')
          i
    .sideNavOlay
    header.headMainCont
      .centerAlign
        .headCol
          .headOpnMenuIcn
            span
            span
            span
          ul.headLinksMainWrap
            li.phneIcn.hide1000
              a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user', target='_blank')
                span Get the App
            li.hasSub.hide768
              a(href='javascript:void(0);')
                span Company
              .hsSubMenu
                ul
                  li
                    a(href='/zeepzoop-story') Our Story
                  li
                    a(href='/zeepzoop-team') Our Team
                  li
                    a(href='/partners') Partners
                  li
                    a(href='/bhavyamodi-founderceo') Meet The CEO
                  //- li
                  //-   a(href='join-z-force.html') Join Z-Force
        .headCol
          a.logoBlck(href='/')
            img(src='/images/logo.svg',alt='img')
        .headCol.txtRght
          .headSrchBtnWrp.hide768
            span.headSrchBtnIcn
          //- ul.headLinksMainWrap
          //-   li.hide1000
          //-     a(href='/register-your-brand')
          //-       span Register your Brand
          //-   li
          //-     a.loginTrig.bflog(href='#')
          //-       span Login
          //-     li.hasSub.aflog(style="display:none")
          //-       a(href='javascript:void(0);')
          //-         span.loginNameLimited Hello, 
          //-           span.uname
          //-       .hsSubMenu
          //-         ul
          //-           //- li
          //-           //-   a.usrpro My Profile
          //-           li
          //-             a(href='/',id="logout") Logout
          ul.headLinksMainWrap
            li.hide1000
              a(href='/register-your-brand')
                span Register your Brand
            li
              a.loginTrig.bflog(href='#')
                span Login
            li.hasSub.aflog(style="display:none")
              a(href='javascript:void(0);')
                span.loginNameLimited.loginFix
                  span.uname
              .hsSubMenu
                ul
                  li
                    a.usrpro My Profile
                  li
                    a(href='/',id="logout") Logout
      .headSearchOlay
        .centerAlign
          i.bigSrchIcn
          input.srchInpBx.myInput(type='text', placeholder='Type here to search...')
          .headSrchClse
    script.
      $(document).ready(function(){
        function GetParameterValues(param) {
          var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
          for (var i = 0; i < url.length; i++) {
              var urlparam = url[i].split('=');
              if (urlparam[0] == param) {
                  return urlparam[1];
              }
          }
        }

        $(".submit_phn").on('click',function(e){
          if($("#phone").val() && ($("#phone").val()).length == 10){
            $('#otp').css("display", "block");
            $('.submit_otp').css("display", "block");
            $('.submit_phn').css("display", "none");
            var obj={
               "phone": $("#phone").val()
            }
            var request = $.ajax({
              headers: {
                  'Authorization': "maximumvsminimumsecurity",
                  'Content-Type': "application/json;charset=UTF-8"
              },
              type: "POST",
              url: "https://api.zeepzoop.com/users/verifymobile",
              data: JSON.stringify(obj),
              dataType: "json"
            });
            
            request.done(function(response) {
                localStorage.setItem('otp', response.data.otp)
                localStorage.setItem('phone', response.data.phone)
                localStorage.setItem('uid', response.data._id)
            });

            request.fail(function(jqXHR, textStatus) {
                alert("Request failed: For Mobile Verification" + textStatus);
            });
          }else{
            $('.errr').css("display", "block");
          }
        });

        $(".submit_otp").on('click',function(e){
          if($("#otp").val()==localStorage.getItem('otp')){
            var obj={
              "phone":localStorage.getItem('phone'),
              "userId":localStorage.getItem('uid'),
              "otp":localStorage.getItem('otp')
            }
            var request = $.ajax({
              headers: {
                  'Authorization': "maximumvsminimumsecurity",
                  'Content-Type': "application/json;charset=UTF-8"
              },
              type: "POST",
              url: "https://api.zeepzoop.com/users/verifyotpmobile",
              data: JSON.stringify(obj),
              dataType: "json"
            });
            
            request.done(function(response) {
              localStorage.setItem('UserTo', response.data.token)
              localStorage.setItem('userD', response.data.user._id)
              localStorage.setItem('userName', response.data.user.name)
              window.location.reload();
            });

            request.fail(function(jqXHR, textStatus) {
                alert("Request failed: For Mobile Verification" + textStatus);
            });
          }else{
              alert("Invalid OTP");
          }
        });
        $(".categoryicon a").on('click',function(e){
          var cityName = GetParameterValues('city')
          var urls="/category/" + $(this).attr('name');     
          var id =$(this).attr('id');
          var categoryName =$(this).attr('name');
          if ($('body').hasClass('switchOn')) {
              urls += "?buisnessOnline=true";
          } else {
              urls += "?buisnessOffline=true";
          }
          if(cityName){
              urls += '&city=' + cityName;
          }
          window.location.href = urls;
        });
        $('.myInput').keyup(function(event) {
          event.preventDefault();
          var value=$(this).val();
          if (event.keyCode === 13) {
            if (value !== undefined && value !== null && value !== '') {
              if ($('body').hasClass('switchOn')) {
                  var online = true;
              } else {
                  var online = false;
              }
              if (online == true) {
                  window.location.href = "/search?searchFor=" + value + "&buisnessOnline=true";
              } else {
                  window.location.href = "/search?searchFor=" + value + "&buisnessOffline=true";
              }
              $(".searchval").val('')
            } else {
                alert("Please Enter Value of Search Box")
            }
          }
        });
        $('.usrpro').click(function(e) {
          if(localStorage.getItem('userD')!==undefined){
            var id = localStorage.getItem('userD');
            window.location.href="/profile/"+id;
          }else{
            alert("You Have To Login First")
          }
        });
        $('#logout').click(function(e) {
          localStorage.clear();
          //- FB.logout();
          //- var auth2 = gapi.auth2.getAuthInstance();
          //- auth2.signOut().then(function () {
          //- });
        });
        $('.loginsinup').click(function(e) {
          $('#signinpopup').show();
          $('body').addClass('zeeppopup-body');
        });
        $('.zeeppopup-close').click(function(e) {
          $('#signinpopup, #authorPopup').hide();
          $('body').removeClass('zeeppopup-body');
        });
        function loginhs() {
          $('#otp').css("display", "none");
          $('.submit_otp').css("display", "none");
          if(localStorage.getItem('UserTo')!==null&&localStorage.getItem('userD')!==null&&localStorage.getItem('userName')!==null){
              $('.bflog').css("display", "none");
              $('.uname').append(localStorage.getItem('userName'));
              $('.aflog').css("display", "");
          }else{
              $('.bflog').css("display", "");
          }
        }
        loginhs();
       !function(f, b, e, v, n, t, s) {
          if (f.fbq) return;
          n = f.fbq = function() {
              n.callMethod ?
                  n.callMethod.apply(n, arguments) : n.queue.push(arguments)
          };
          if (!f._fbq) f._fbq = n;
          n.push = n;
          n.loaded = !0;
          n.version = '2.0';
          n.queue = [];
          t = b.createElement(e);
          t.async = !0;
          t.src = v;
          s = b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t, s)
        }(window, document, 'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2198070697115930');
        fbq('track', 'PageView');
      });
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=2198070697115930&ev=PageView&noscript=1')

